<div class="row">
    <div class="col">
        <app-client-details></app-client-details>
    </div>
    <div class="col">
        <app-work-flow></app-work-flow>
    </div>
    <div class="col">
        <app-fee-cost></app-fee-cost>
    </div>
</div>
<div class="row">
    <div class="col">
        <app-dates></app-dates>
    </div>
    <div class="col">
        <app-order-details></app-order-details>
    </div>
    <div class="col">
        <app-order-appraisers></app-order-appraisers>
    </div>
</div>
<div class="row">
    <div class="col">
        <app-location></app-location>
    </div>
    <div class="col">
        <app-chat></app-chat>
    </div>
</div>
<div class="row">
    <div class="col">
        <app-instructions></app-instructions>
    </div>
    <div class="col">
        <app-activity-feeds></app-activity-feeds>
    </div>
</div>