<perfect-scrollbar>
<div class="custom_scroll">
    <div class="form px-5 py-1">
        <div class="title-heading">
            <h3>Payment Options</h3>
            <div class="flex-row-center">
                <button class="btn btn-sm" (click)="openSideNav()">Edit</button>
            </div>
        </div>
        <div class="row mb-8">
            <div class="col-8">
                <div class="f-group fee-schedule">
                    <label class="required">Company Fee Schedule</label>
                    <div class="f-field nob">
                        <div class="row">
                            <div class="col" *ngFor="let option of options">
                                <ng-toggle [disabled]="toggle.disabled" [width]="toggle.width" [height]="toggle.height"
                                    [margin]="toggle.margin" [value]="option.value" [labels]="toggle.labels" [color]="toggle.color"
                                    [switchColor]="toggle.switchColor" [fontColor]="toggle.fontColor" [fontSize]="toggle.fontSize">
                                </ng-toggle>
                                <small class="label ml-3">{{option.label}}</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="f-group">
                    <label class="required">Company Fee Schedule</label>
                    <div class="f-field-value">Bruce </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="noindent">
                    <thead>
                        <tr>
                            <th align="left">STATUS</th>
                            <th>DUE</th>
                            <th>CREATED ON</th>
                            <th>INVOICE NUMBER</th>
                            <th>PAYMENT DATE</th>
                            <th>AMOUNT DUE</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let d of data">
                            <td><span class="txt-primary"> {{d.status}}</span></td>
                            <td>{{d.due}}</td>
                            <td>MM/DD/YYYY</td>
                            <td>{{d.invoiceNumber}}</td>
                            <td>MM/DD/YYYY</td>
                            <td>{{d.amountDue}}</td>
                            <!-- <td>
                                <ng-toggle [disabled]="toggle.disabled" [width]="toggle.width" [height]="toggle.height"
                                    [margin]="toggle.margin" [labels]="toggle.labels" [color]="toggle.color"
                                    [value]="d.opt" [switchColor]="toggle.switchColor" [fontColor]="toggle.fontColor"
                                    [fontSize]="toggle.fontSize">
                                </ng-toggle>
                            </td> -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</perfect-scrollbar>