<app-status-nav></app-status-nav>
<div class="tabs__container">
    <div class="tabs" id="app_tabs" malihu-scrollbar>
        <ul>
            <li class="tab-link" routerLinkActive="active" routerLink="order-summary">ORDER SUMMARY</li>
            <li class="tab-link" routerLinkActive="active" routerLink="inspection">INSPECTION</li>
            <li class="tab-link" routerLinkActive="active" routerLink="comparables">COMPS</li>
            <li class="tab-link" routerLinkActive="active" routerLink="preview">PREVIEW</li>
        </ul>
    </div>
    <div class="tab__content">
        <!-- <div class="tab__content" malihu-scrollbar [scrollbarOptions]="scrollbarOptions"> -->
        <router-outlet></router-outlet>
    </div>
</div>