<div class="card card-small">
  <div class="card-title">
    <h3>
      FEES / COSTS
      <button class="btn btn-danger btn-inline btn-xsm">Due</button>
    </h3>
    <div class="actions">
      <button class="btn btn-primary btn-xsm">Update</button>
    </div>
  </div>
  <div class="card-body" id="fee-costs">
    <div class="costs">
      <div class="cost">
        <label>Client Fee</label>
        <span class="txt-success">$159</span>
      </div>
      <div class="cost">
        <label>Technical Fee</label>
        <span class="txt-success">$159</span>
      </div>
      <div class="cost">
        <label>APPRAISER Fee</label>
        <span class="txt-success">$159</span>
      </div>
      <div class="cost">
        <label>Company Fee</label>
        <span class="txt-danger">$159</span>
      </div>
    </div>
    <div class="invoice__table">
      <h4>Invoice</h4>
      <table>
        <thead>
          <tr class="no-border">
            <th>Description</th>
            <th class="text-center">QTY.</th>
            <th class="text-right">Rate</th>
            <th class="text-right">Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1004P-Inspection</td>
            <td class="text-center">1</td>
            <td class="text-right">159.00</td>
            <td class="text-right">159.00</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="3" class="text-right">Invoice Total:</td>
            <td class="text-right">159.00</td>
          </tr>
          <tr>
            <td colspan="3" class="text-right">Payemnts:</td>
            <td class="text-right">159.00</td>
          </tr>
          <tr>
            <td colspan="3">OUTSTANDING</td>
            <td class="text-right">0.00</td>
          </tr>
          <tr class="no-border generate__report">
            <td class="text-center" colspan="2">
              <img src="../../../../../assets/icon_edit.svg" />
              <span class="txt-extras">Generate PDF Invoice</span>
            </td>
            <td class="text-center" colspan="2">
              <img src="../../../../../assets/icon_edit.svg" />
              <span class="txt-extras">Generate PDF Invoice</span>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
