<div class="custom_scroll">
    <div class="flex p-6 flex-column">
        <div class="overview mb-6">
            <div class="orders-statistics">
                <div class="order active">
                    <span class="label">TOTAL ORDERS</span>
                    <span class="count">18</span>
                </div>
                <div class="order">
                    <span class="label">OPEN</span>
                    <span class="count">12</span>
                </div>
                <div class="order">
                    <span class="label">CLOSED</span>
                    <span class="count">25</span>
                </div>
                <div class="order">
                    <span class="label">NET REVENUE</span>
                    <span class="count">$600.00</span>
                </div>
                <div class="order">
                    <span class="label">NET EXPENSES</span>
                    <span class="count">$600.00</span>
                </div>
                <div class="order">
                    <span class="label">NET PROFIT</span>
                    <span class="count">0.00</span>
                </div>
                <div class="order">
                    <span class="label">AVG TURN TIME</span>
                    <span class="count">2.5hrs</span>
                </div>
            </div>
            <div class="cards-holder">
                <div class="row">
                    <div class="col-3">
                        <div class="card">
                            <div class="card-title flex flex-justify-between">
                                <div class="chip small assigned">Assigned</div>
                                <div class="value">1004 URAR</div>
                            </div>
                            <div class="card-body">
                                <div class="date">20 APR 2021</div>
                                <div class="sonumber">SWM-21-3-2593</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card">
                            <div class="card-title flex flex-justify-between">
                                <div class="chip small accepted">Accepted</div>
                                <div class="value">1004 URAR</div>
                            </div>
                            <div class="card-body">
                                <div class="date">20 APR 2021</div>
                                <div class="sonumber">SWM-21-3-2593</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card">
                            <div class="card-title flex flex-justify-between">
                                <div class="chip small inreview">In Review</div>
                                <div class="value">1004 URAR</div>
                            </div>
                            <div class="card-body">
                                <div class="date">20 APR 2021</div>
                                <div class="sonumber">SWM-21-3-2593</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card">
                            <div class="card-title flex flex-justify-between">
                                <div class="chip small assigned">Assigned</div>
                                <div class="value">1004 URAR</div>
                            </div>
                            <div class="card-body">
                                <div class="date">20 APR 2021</div>
                                <div class="sonumber">SWM-21-3-2593</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-7">
                <div class="widget mb-6" id="todaystasks">
                    <div class="widget-head pb-2">
                        <h4>INVOICE & PAYMENTS</h4>
                        <div class="actions">
                            <span class="link txt-primary">View All</span>
                        </div>
                    </div>
                    <div class="card">
                        <div class="company__invoice">
                            <h5>Company Invoice Option</h5>
                            <div class="invoice-options mb-6">
                                <div class="invoice-option">
                                    <div class="type">
                                        <div class="f-group">
                                            <ng-toggle [disabled]="toggle.disabled" [width]="toggle.width" [height]="toggle.height"
                                                [margin]="toggle.margin" [labels]="toggle.labels" [color]="toggle.color"
                                                [switchColor]="toggle.switchColor" [fontColor]="toggle.fontColor" [fontSize]="toggle.fontSize">
                                            </ng-toggle>
                                            <small class="label ml-3">Invoice</small>
                                        </div>
                                    </div>
                                    <div class="text txt-primary">Informative text related to invoice</div>
                                </div>
                                <div class="invoice-option">
                                    <div class="type">
                                        <div class="f-group">
                                            <ng-toggle [disabled]="toggle.disabled" [width]="toggle.width" [height]="toggle.height"
                                                [margin]="toggle.margin" [labels]="toggle.labels" [color]="toggle.color"
                                                [switchColor]="toggle.switchColor" [fontColor]="toggle.fontColor" [fontSize]="toggle.fontSize">
                                            </ng-toggle>
                                            <small class="label ml-3">Paper Check</small>
                                        </div>
                                    </div>
                                    <div class="text txt-primary">Informative text related. to paper check</div>
                                </div>
                                <div class="invoice-option">
                                    <div class="type">
                                        <div class="f-group">
                                            <ng-toggle [disabled]="toggle.disabled" [width]="toggle.width" [height]="toggle.height"
                                                [margin]="toggle.margin" [labels]="toggle.labels" [color]="toggle.color"
                                                [switchColor]="toggle.switchColor" [fontColor]="toggle.fontColor" [fontSize]="toggle.fontSize">
                                            </ng-toggle>
                                            <small class="label ml-3">Credit Card</small>
                                        </div>
                                    </div>
                                    <div class="text txt-danger">Update Credit Card Details</div>
                                </div>
                            </div>
                            <h5>Company Fee Schedule:</h5>
                            <div class="name">Bruce</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-5">
                <div class="widget mb-6" id="todaystasks">
                    <div class="widget-head pb-2">
                        <h4>NOTES</h4>
                        <div class="actions">
                            <span class="link txt-primary">View All</span>
                        </div>
                    </div>
                    <div class="card">
                        <div class="notes__container">
                            <div class="note">
                                <div class="avatar">
                                    <span class="icon">
                                        <img src="../../../../assets/profile_pic.jpg" />
                                    </span>
                                </div>
                                <div class="details">
                                    <div class="date">
                                        05/01/2021 18:22 <strong>Varma Ram</strong>
                                    </div>
                                    <div class="text">
                                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonum yundefined Lorem ipsum dolor sit amet.
                                    </div>
                                </div>
                            </div>
                            <div class="note">
                                <div class="avatar">
                                    <span class="icon">
                                        <img src="../../../../assets/profile_pic.jpg" />
                                    </span>
                                </div>
                                <div class="details">
                                    <div class="date">
                                        05/01/2021 18:22 <strong>Varma Ram</strong>
                                    </div>
                                    <div class="text">
                                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumyundefined
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="widget mb-5" id="todaystasks">
                    <div class="widget-head pb-3">
                        <h4>CLIENT CALENDAR</h4>
                        <div class="actions">
                            <div class="sort__by">
                                <label>Sort by</label>
                                <select class="link">
                                    <option>Inspections</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <app-client-calendar></app-client-calendar>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>