<header>
    <div class="container">
        <div class="header">
            <div class="header__logo">
                <img src="../../assets/logo.svg" />
            </div>
            <div class="header__search">
                <span class="icon">
                    <img src="../../assets/icon-search.svg" />
                </span>
                <input type="search" placeholder="Search Orders, Vendors, Clients, Invoice…" />
            </div>
            <div class="header__sec">
                <div class="section nbrd date">
                    Today at 2:43 PM
                </div>
                <div class="section calender">
                    <span class="icon">
                        <img src="../../assets/icon_calender.png" />
                    </span>
                    <span class="text">Calender</span>
                </div>
                <div class="section only__icon questions">
                    <span class="icon">
                        <img src="../../assets/icon-question.svg" />
                    </span>
                </div>
                <div class="section only__icon messages">
                    <span class="icon has-badge">
                        <img src="../../assets/icon-messanger.svg" />
                        <span class="badge badge-info">3</span>
                    </span>
                </div>
                <div class="section only__icon notifications">
                    <span class="icon has-badge">
                        <img src="../../assets/icon-notification.svg" />
                        <span class="badge badge-alert">3</span>
                    </span>
                </div>
                <div class="section profile">
                    <div class="profile__details">
                        <span class="name">Veera Arun Sameer John</span>
                        <span class="role">Business Owner</span>
                    </div>
                    <div class="profile__pic">
                        <span class="pic">
                            <img src="../../assets/AvatarMaker.png" />
                        </span>
                    </div>
                    <div class="profile__dots">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>