<div class="user__info">
    <div class="user__info-detials">
        <div class="profile__img">
            <span class="pic">
                <img src="../../../../assets/profile_pic.jpg" />
            </span>
            <span class="badge bottom-center"></span>
        </div>
        <div class="profile__info__con">
            <!-- <div class="details"> -->
                <div class="name">Juan Anderson</div>
                <div class="email-role">
                    <span>Admin</span>
                    <span class="divider">.</span>
                    <a class="email" href="mailto: jaunanderson@domainname.com">jaunanderson@domainname.com</a>
                    <span class="copy"></span>
                </div>
                <div class="contact">
                    <span class="phone">(999) 999 9999</span>
                    <span class="divider">.</span>
                    <span class="location">3137 Catalina Ranch Road Leander, Williamson County, TX, 78641</span>
                </div>
            <!-- </div> -->
        </div>
        <div class="profile__events">
            <ng-toggle [disabled]="config.disabled" [width]="config.width" [height]="config.height" [margin]="config.margin" [labels]="config.labels" [color]="config.color" [switchColor]="config.switchColor" [fontColor]="config.fontColor" [fontSize]="config.fontSize"></ng-toggle>
        </div>
    </div>
    <div class="user__info-earnings">
        <div class="container">
            
        </div>
    </div>
    <div class="user__info-section tabs-container" malihu-scrollbar
    [scrollbarOptions]="scrollbarOptions">
        <div class="form px-6 py-5">
            <div class="title-heading">
                <h3>Organisation Information</h3>
                <div class="flex-row-center">
                    <button class="btn btn-sm btn-secondary-outline">Cancel</button>
                    <button class="btn btn-sm">Edit</button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="f-group">
                        <label>First Name <span class="required">*</span></label>
                        <div class="f-field">
                            <input type="text" placeholder="First Name" />
                        </div>
                        <!-- <div class="f-field-value">
                            Arun Sameer
                        </div> -->
                    </div>
                </div>
                <div class="col-4">
                    <div class="f-group">
                        <label>Middle Name <span class="required">*</span></label>
                        <div class="f-field">
                            <input type="text" placeholder="Middle Name" />
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="f-group">
                        <label>Last Name <span class="required">*</span></label>
                        <div class="f-field">
                            <input type="text" placeholder="Last Name" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>