@import './colors';

.chip {
    font-size: 12px;
    font-weight: 500;
    padding: 4px 10px;
    border-radius: 20px;
    color: $white;
    border: none;
    white-space: nowrap;
    line-height: 1;
    display: inline-block;
    &.small {
        padding: 2px 5px;
    }
    @each $name, $color in $chips {
        &.#{$name} {
            background: $color;
        }
    }
    &.default {
        color: #293F45;
        border: solid 1px #BDD8E0;
        padding: 10px 12px;
    }
}