$primary:           #004A6E;
$secondary:         #6A8991;
$info:              #96FFA8;
$danger:            #FF304C;
$formfield:         #fafafa;
$white:             #ffffff;
$black:             #000000;


// Menu Colors ()
$menu-bg:             rgb(242 242 242 / 90%);
$menu-links:        #004A6E;
$menu-border-left:  #708890;
$menu-border-right: #ffffff;
$menu-active:       #248875;
$menu-bgactive:     #f9f9f9;
$menu-brdactive:    #61A75F;