@import "../../assets/scss/colors";
@import "../../assets/scss/mixins";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
html, body {
    height: 100%;
}
body {
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    background: rgb(0,74,110);
    background: -moz-linear-gradient(-45deg,  rgba(0,74,110,1) 0%, rgba(73,116,99,1) 100%);
    background: -webkit-linear-gradient(-45deg,  rgba(0,74,110,1) 0%,rgba(73,116,99,1) 100%);
    background: linear-gradient(135deg,  rgba(0,74,110,1) 0%,rgba(73,116,99,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004a6e', endColorstr='#497463',GradientType=1 );
    // &::before {
    //     background-image: url(../../assets/bg_login.png);
    //     background-position: top center;
    //     background-repeat: no-repeat;
    //     background-size: 100% auto;
    //     content: '';
    //     top: 0;
    //     left: 0;
    //     bottom: 0;
    //     right: 0;
    //     position: absolute;
    //     z-index: -1;
    // }
    &.noscroll {
        overflow: hidden;
    }
    .container {
        width: 100%;
        padding: 0px 10px;
        box-sizing: border-box;
    }
    input {
        font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    }
    img {
        display: block;
    }
    .custom_scroll {
        height: 100%;
    }
}

// textarea:not(:placeholder-shown),select:not(:placeholder-shown),input:not(:placeholder-shown) {
// 	background: #fff !important;
// }
// textarea:placeholder-shown,input:placeholder-shown,select:placeholder-shown {
// 	background: #E1F0FF !important;
// }

.more-actions {
    white-space: nowrap;
    display: inline-block;
    text-align: center;
    width: 26px;
    cursor: pointer;
    @include flex-row-center;
    &.vertical {
        @include flex-column-center;
        width: 10px;
    }

    span {
        background-color: $more-actions;
        display: inline-block;
        width: 6px;
        height: 6px;
        border-radius: 20px;
        margin: 1px;
    }
}

/* User & Vendor Stats */
.user__stats {
    display: flex;
    border-bottom: solid 1px $border-color;
    padding: 0px 1rem;
    .user__stat {
        flex-basis: 100%;
        width: 100%;
        @include flex-row-center;
        justify-content: flex-start;
        padding: .75rem;
        .icon {
            padding: 0 10px 0 0;
            img {
                height: 20px;
            }
        }
        .text {
            display: flex;
            flex-direction: column;
            color: $black;
            line-height: 1.3;
            .label {
                font-size: 12px;
                font-weight: 600;
            }
            .value {
                font-size: 18px;
                font-weight: 500;
            }
        }
    }
}

/* Widgets */

.widget {
    &-item {
        border-radius: 5px;
        background: #ffffff;
        box-shadow: 0px 0px 8px rgb(0 0 0 / 12%);
        overflow: hidden;
    }
    &-head {
        display: flex;
        justify-content: space-between;
        h4 {
            font-size: 16px;
            font-weight: 500;
            color: #6A8991;
            margin: 0;
            padding: 0;
            line-height: 1;
        }
        .actions {
            font-size: 13px;
        }
    }
    &-items {
        .widget-item {
            margin-bottom: 10px;
            .icon {
                padding: 6px 0 10px 6px;
                &.small {
                    img {
                        height: 22px;
                        padding-left: 6px;
                    }
                }
                &.tasks {
                    width: 4px;
                    max-width: 4px;
                    padding: 0px;
                    span {
                        height: 100%;
                        width: 100%;
                        display: inline-block;
                    }
                }
                .unread {
                    width: 8px;
                    height: 8px;
                    margin-left: 5px;
                    display: inline-block;
                    background: $list-unread;
                    border-radius: 10px;
                    vertical-align: middle;
                }
            }
            .status {
                font-size: 13px;
                padding: 10px;
                text-align: right;
            }
            .details {
                padding: 10px 10px;
                font-size: 14px;
                flex: 1;
                color: $widget-secondary;
                &.primary {
                    color: $widget-primary;
                }
                strong {
                    font-weight: 500;
                }
                .helper-text {
                    padding-top: 5px;
                    display: block;
                    font-size: 12px;
                    line-height: 1.2;
                    color: $widget-secondary;
                }
            }
        }
    }
    &#create {
        .item-details {
            text-align: center;
            justify-content: center;
            padding: 1rem 2px;
            .icon {
                img {
                    height: 32px;
                    display: inline-block;
                }
            }
            .text {
                font-size: 14px;
                color: #0A62AC;
                padding-top: 7px;
                text-transform: uppercase;
            }
        }
    }
    &.small {
        .widget-head {
            h4 {
                font-size: 14px;
            }
        }
    }
}

// Sort By

.sort__by {
    font-size: 16px;
    color: $secondary;
    label {
        margin-right: 8px;
        font-weight: 300;
    }
    select {
        border: none;
        font-size: 16px;
        color: $secondary;
        outline: none
    }
}

/* Tabs or Inner Routing */
.tabs__container {
    background-color:  $tabs-container;
    width: 100%;
    @include flex-column-stretch;
    .tabs {
        margin: 0;
        padding: 0;
        list-style: none;
        // display: flex;
        background-color:  $tabs;
        position: relative;
        width: 100%;
        // overflow: auto;
        display: flex;
        justify-content: space-between;
        &::after {
            content: "";
            left: 0px;
            right: 0px;
            bottom: 0px;
            background: #fff;
            position: absolute;
            height: 1px;
            box-shadow: 0 -4px 5px rgb(0 0 0 / 10%);
        }
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            // white-space: nowrap;
            display: flex;
            min-width: 0;
        }
        .tab-link {
            // flex: auto;
            margin: 0;
            padding: .75rem 1.1rem;
            white-space: nowrap;
            margin: 0 1px 0 0;
            cursor: pointer;
            position: relative;
            z-index: 1;
            font-size: 15px;
            font-weight: 400;
            background-color:  $tabs;
            // overflow: hidden;
            // white-space: nowrap;
            // text-overflow: ellipsis;
            // text-align: center;
            // min-width: 80px;
            &.active, &:hover {
                background-color: $tab-active;
            }
        }
    }
    .tab__content {
        flex: 1;
        min-height: 0;
        // @include flex-column-stretch; 
        > * {
            display: block;
            min-height: 100%;
            width: 100%;
            height: 100%;
        }
        router-outlet {
            max-height: 0px;
            min-height: 0px;
        }
    }
}

// Statistics

.orders-statistics {
    display: flex;
    flex: content;
    justify-content: space-between;
    padding: 1rem 1.2rem .75rem;
    margin: 0 0 20px;
    max-height: 80px;
    .order {
        display: flex;
        flex-direction: column;
        line-height: 1.3;
        margin-right: 20px;
        .label {
            text-transform: uppercase;
            font-size: 14px;
            color: $widget-secondary;
        }
        .count {
            font-size: 24px;
        }
        .amount {
            font-size: 12px;
            color: $widget-secondary;
        }
        &.active {
            .label {
                font-size: 16px;
                font-weight: 500;
            }
            .count {
                font-size: 32px;
                color: $widget-active;
            }
        }
    }
}

// Notes
.notes__container {
    padding: .75rem;
    width: 100%;
    box-sizing: border-box;
    .note {
        display: flex;
        justify-content: stretch;
        justify-items: stretch;
        .avatar {
            margin: 0 10px 0 0;
            min-height: 0;
            position: relative;
            &::before {
                content: '';
                position: absolute;
                left: 50%;
                background: $border-color;
                width: 1px;
                top: 0;
                bottom: 0;
            }
            .icon {
                width: 34px;
                height: 34px;
                display: block;
                border: solid 1px $border-color;
                border-radius: 100px;
                overflow: hidden;
                position: relative;
                img {
                    width: 100%;
                    min-height: 100%;
                }
            }
            &.only-icon {
                width: 18px;
                padding-top: 5px;
                &::before {
                    display: none;
                }
                .icon {
                    width: 18px;
                    height: 18px;
                    border: none;
                    border-radius: none;
                    display: flex;
                    align-items: center;
                    img {
                        max-width: 14px;
                        min-height: 4px;
                    }
                }
            }
            &.no-icon {
                margin-left: 28px;
            }
        }
        .details {
            padding: .5rem;
            flex: auto;
            border: solid 1px transparent;
            .date {
                font-size: 11px;
                padding-bottom: 6px;
                color: $secondary;
                strong {
                    font-weight: 500;
                }
            }
            .text {
                font-size: 14px;
                line-height: 18px;
                color: $primary;
            }
            
        }

        &:last-child {
            .avatar {
                &::before {
                    display: none;
                }
            }
        }
    }
}


.title-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px $form-heading-border;
    padding: .5rem 0;
    margin: .25rem 0 1.5rem;
    h3 {
        font-weight: 400;
        font-size: 18px;
        color: $form-heading;
        line-height: 1.5;
        margin: 0px;
        padding: 0px;
        @include text-overflow;
    }
}

.card {
    background: #fff;
    box-shadow: 0px 0px 8px rgba(0,0,0,.15);
    border-radius: 7px;
    &-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: solid 1px $form-heading-border;
        padding: .8rem;
        color: #304950;
        h3 {
            font-weight: 500;
            font-size: 22px;
            color: $form-heading;
            line-height: 1.5;
            margin: 0px;
            padding: 0px;
            @include text-overflow;
        }
    }
}
strong {
    // font-weight: 600;
}
.hgt100 {
    height: 100%;
}

.link {
    color: $extras;
    font-size: 14px;
}


.text-content {
    p, li {
        font-size: 14px;
        line-height: 1.4;
    }
    h1,h2,h3,h4,h5,h6 {
        font-weight: 400;
        color: $secondary;
    }
    strong, b {
        font-weight: 500;
    }
}
.m-t-25{
    margin-top:25px ;
    }
    .p-l-3
    {
        padding-left: 3%;
    }