$grid__bp: 1366;
$grid__cols: 12;
$grid__paddings: 8;
$grid__margins: 8;
.container {
  max-width: 100%;
  margin: 0 auto;
  &--fluid {
    margin: 0;
    max-width: 100%;
  }
}
.row {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 30px);
    max-width: calc(100% + 30px);
    margin-left: -15px;
    margin-right: -15px;
    [class*='col-'] {
        box-sizing: border-box;
    }
    .col {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
    @for $i from 1 through $grid__cols {
        .col-#{$i} {
            flex-basis: (100 / ($grid__cols / $i) ) * 1%;
            max-width: (100 / ($grid__cols / $i) ) * 1%;
            padding-left: 15px;
            padding-right: 15px;
        }
        .offset-#{$i} {
            margin-left: (100 / ($grid__cols / $i) ) * 1%;
        }
    }
    &.no-space {
        margin-left: 0px;
        margin-right: 0px;
        width: calc(100% + 0px);
        max-width: calc(100% + 0px);
        .col {
            padding-left: 0;
            padding-right: 0;
        }
        @for $i from 1 through $grid__cols {
            .col-#{$i} {
                flex-basis: (100 / ($grid__cols / $i) ) * 1%;
                width: (100 / ($grid__cols / $i) ) * 1%;
                padding-left: 0px;
                padding-right: 0px;
            }
        }
    }
}
/* box Model - margin, padding */
@for $i from 0 through $grid__paddings {
    .p-#{$i} {
        padding: #{$i * .25}rem;
    }
    .px-#{$i} {
        padding-left: #{$i * .25}rem;
        padding-right: #{$i * .25}rem;
    }
    .py-#{$i} {
        padding-top: #{$i * .25}rem;
        padding-bottom: #{$i * .25}rem;
    }
    .pt-#{$i} {
        padding-top: #{$i * .25}rem;
    }
    .pl-#{$i} {
        padding-left: #{$i * .25}rem;
    }
    .pr-#{$i} {
        padding-right: #{$i * .25}rem;
    }
    .pb-#{$i} {
        padding-bottom: #{$i * .25}rem;
    }
    .m-#{$i} {
        margin: #{$i * .25}rem;
    }
    .mx-#{$i} {
        margin-left: #{$i * .25}rem;
        margin-right: #{$i * .25}rem;
    }
    .my-#{$i} {
        margin-top: #{$i * .25}rem;
        margin-bottom: #{$i * .25}rem;
    }
    .mt-#{$i} {
        margin-top: #{$i * .25}rem;
    }
    .ml-#{$i} {
        margin-left: #{$i * .25}rem;
    }
    .mr-#{$i} {
        margin-right: #{$i * .25}rem;
    }
    .mb-#{$i} {
        margin-bottom: #{$i * .25}rem;
    }
}