/* Grid Mixins */ 
@mixin flex-row-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
@mixin flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@mixin flex-row-stretch {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
@mixin flex-column-stretch {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}



/* Text Mixins */
@mixin text-overflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}