@import 'mixins';
@import 'colors';

// Flex common classses
.flex-row-center {
    @include flex-row-center;
}
.flex-row-stretch {
    @include flex-row-stretch;
}
.flex-column-center {
    @include flex-column-center;
}
.flex-column-stretch {
    @include flex-column-stretch;
    height: 100%;
    > div {
        flex: auto;
    }
}
.flex-justify-right {
    display: flex;
    justify-content: flex-end;
    align-items: center
}

.flex {
    display: flex;
    &-column {
        flex-direction: column
    }
    &-justify-between {
        justify-content: space-between
    }
    &-justify-evenly {
        justify-content: space-evenly
    }
    &-justify-start {
        justify-content: flex-start
    }
    &-justify-end {
        justify-content: flex-end
    }
}





// text classes
.text-truncate {
    @include text-overflow;
}

// Roles/Status Colors / Backgrounds / Opacity
$opacitylevels: (75, 50, 25, 10);
@each $name, $color in $status-colors {
    .txt-#{$name} {
        color: $color;
    }
    .bg-#{$name} {
        background: $color;
    }
    @each $level in $opacitylevels {
        .bg-#{$name}-#{$level} {
            @include rgba-background($color, $level / 100);
        }
    }
}