@import 'mixins';

// Flex common classses
.flex {
    display: flex;
    &-column {
        flex-direction: column
    }
    &-justify-between {
        justify-content: space-between
    }
}
.flex-row-center {
    @include flex-row-center;
}
.flex-row-stretch {
    @include flex-row-stretch;
}
.flex-column-center {
    @include flex-column-center;
}
.flex-column-stretch {
    @include flex-column-stretch;
}
.flex-justify-right {
    display: flex;
    justify-content: flex-end;
    align-items: center
}






// text classes
.text-truncate {
    @include text-overflow;
}