$theme-colors: (
  "primary":    #26AB86,
  "secondary":  #1C79D8,
  "info":       #28433C,
  "danger":     #B34856,
  "success":    #628B49,
  "muted":      #939393
);
$primary:       #26AB86;
$secondary:     #1C79D8;
$info:          #28433C;
$danger:        #B34856;
$muted:         #939393;
$brand-primary: #26AB86;