<div class="app__content">
    <div class="statistics" id="user__statistics" *ngIf="statistics">
        <div class="statistics__total">
            <span class="text">Total Users</span>
            <span class="count">280</span>
        </div>
        <div class="statistics__users">
            <div class="statistics__user">
                <div class="progress_bar">
                    <round-progress
                    [current]="169"
                    [max]="250"
                    [color]="'#75BC80'"
                    [background]="'#ccd3df'"
                    [radius]="23"
                    [stroke]="3"
                    [semicircle]="false"
                    [rounded]="true"
                    [clockwise]="true"
                    [responsive]="false"
                    [duration]="800"
                    [animation]="'easeInOutQuart'"
                    [animationDelay]="0">
                </round-progress>
                <span class="count">169</span>
                </div>
                <span class="label">Active</span>
            </div>
            <div class="statistics__user">
                <div class="progress_bar">
                    <round-progress
                    [current]="169"
                    [max]="250"
                    [color]="'#E09191'"
                    [background]="'#ccd3df'"
                    [radius]="23"
                    [stroke]="3"
                    [semicircle]="false"
                    [rounded]="true"
                    [clockwise]="true"
                    [responsive]="false"
                    [duration]="800"
                    [animation]="'easeInOutQuart'"
                    [animationDelay]="0">
                </round-progress>
                <span class="count">169</span>
                </div>
                <span class="label">In Active</span>
            </div>
            <div class="statistics__user">
                <div class="progress_bar">
                    <round-progress
                    [current]="169"
                    [max]="250"
                    [color]="'#9A7BBE'"
                    [background]="'#ccd3df'"
                    [radius]="23"
                    [stroke]="3"
                    [semicircle]="false"
                    [rounded]="true"
                    [clockwise]="true"
                    [responsive]="false"
                    [duration]="800"
                    [animation]="'easeInOutQuart'"
                    [animationDelay]="0">
                </round-progress>
                <span class="count">169</span>
                </div>
                <span class="label">Admin</span>
            </div>
            <div class="statistics__user">
                <div class="progress_bar">
                    <round-progress
                    [current]="169"
                    [max]="250"
                    [color]="'#D5A96D'"
                    [background]="'#ccd3df'"
                    [radius]="23"
                    [stroke]="3"
                    [semicircle]="false"
                    [rounded]="true"
                    [clockwise]="true"
                    [responsive]="false"
                    [duration]="800"
                    [animation]="'easeInOutQuart'"
                    [animationDelay]="0">
                </round-progress>
                <span class="count">169</span>
                </div>
                <span class="label">Agents</span>
            </div>
        </div>
        <div class="statistics__associates">
            <label>No. of Users Associated with</label>
            <div class="associated__member">
                <span class="pic">
                    <img src="../../../../assets/icon-clients.png" />
                    <span class="badge badge-primary">3</span>
                </span>
            </div>
            <div class="associated__member">
                <span class="pic">
                    <img src="../../../../assets/icon-users.png" />
                    <span class="badge badge-primary">10</span>
                </span>
            </div>
            <div class="associated__member">
                <span class="pic">
                    <img src="../../../../assets/icon-vendor.png" />
                    <span class="badge badge-primary">3</span>
                </span>
            </div>
            <div class="associated__member">
                <span class="pic">
                    <img src="../../../../assets/icon-users.png" />
                    <span class="badge badge-primary">22</span>
                </span>
            </div>
            <div class="associated__member extends">
                <span class="pic">+4</span>
            </div>
        </div>
    </div>
    <div class="users" id="users__container">
        <div class="users__con">
            <div class="users__con__search">
                <div class="search">
                    <span class="icon">
                        <img src="../../assets/icon-search.svg" />
                    </span>
                    <input type="search" placeholder="Search Users" />
                </div>
                <div class="actions">
                    <button class="button button-gradient has-icon" (click)="showstatistics()">
                        <span class="icon">
                            <img src="../../../../assets/icon_add.svg" />
                        </span>
                        Add User
                    </button>
                </div>
            </div>
            <div class="users__con__filters">
                <div class="sort__by">
                    <label>Sort by</label>
                    <select>
                        <option>First Name</option>
                    </select>
                </div>
                <div class="actions">
                    <span class="icon">
                        <img src="../../../../assets/icon_filter.svg" />
                    </span>
                </div>
            </div>
            <div class="users__con__lists">
                <div class="users__list" malihu-scrollbar
                [scrollbarOptions]="scrollbarOptions">
                    <div class="user_item">
                        <div class="user_item_avatar">
                            <span class="pic"><img src="../../../../assets/profile_pic.jpg" /></span>
                            <span class="status online"></span>
                        </div>
                        <div class="user_item_details">
                            <div class="user_item_sec">
                                <span class="name">Veera Arun Sameer Kumar</span>
                                <span class="chip account-manager">Account Manager</span>
                            </div>
                            <div class="user_item_sec">
                                <a class="email" href="mailto:CraigPrice@domainname.com">CraigPrice@domainname.com</a>
                                <span class="address">TX, 77771</span>
                            </div>
                            <div class="user_item_sec orders">
                                <div class="title">Orders</div>
                                <div class="counts">
                                    <span class="label">Open : </span>
                                    <span class="count open">20</span>
                                </div>
                                <div class="counts">
                                    <span class="label">Closed : </span>
                                    <span class="count closed">10</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="user_item active">
                        <div class="user_item_avatar">
                            <span class="pic"><img src="../../../../assets/AvatarMaker.png" /></span>
                            <span class="status offline"></span>
                        </div>
                        <div class="user_item_details">
                            <div class="user_item_sec">
                                <span class="name">Craig Price</span>
                                <span class="chip business-owner">Business Owner</span>
                            </div>
                            <div class="user_item_sec">
                                <a class="email" href="mailto:CraigPrice@domainname.com">veera.arun.sameer.kumar@domainname.com</a>
                                <span class="address">TX, 77771</span>
                            </div>
                            <div class="user_item_sec orders">
                                <div class="title">Orders</div>
                                <div class="counts">
                                    <span class="label">Open : </span>
                                    <span class="count open">20</span>
                                </div>
                                <div class="counts">
                                    <span class="label">Closed : </span>
                                    <span class="count closed">10</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="user_item">
                        <div class="user_item_avatar">
                            <span class="pic"><img src="../../../../assets/profile_pic.jpg" /></span>
                            <span class="status online"></span>
                        </div>
                        <div class="user_item_details">
                            <div class="user_item_sec">
                                <span class="name">Craig Price</span>
                                <span class="chip admin">Admin</span>
                            </div>
                            <div class="user_item_sec">
                                <a class="email" href="mailto:CraigPrice@domainname.com">CraigPrice@domainname.com</a>
                                <span class="address">TX, 77771</span>
                            </div>
                            <div class="user_item_sec orders">
                                <div class="title">Orders</div>
                                <div class="counts">
                                    <span class="label">Open : </span>
                                    <span class="count open">20</span>
                                </div>
                                <div class="counts">
                                    <span class="label">Closed : </span>
                                    <span class="count closed">10</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="user_item" *ngFor="let item of data">
                        <div class="user_item_avatar">
                            <span class="pic"><img src="../../../../assets/profile_pic.jpg" /></span>
                            <span class="status online"></span>
                        </div>
                        <div class="user_item_details">
                            <div class="user_item_sec">
                                <span class="name">Craig Price</span>
                                <span class="chip account-manager">Account Manager</span>
                            </div>
                            <div class="user_item_sec">
                                <a class="email" href="mailto:CraigPrice@domainname.com">CraigPrice@domainname.com</a>
                                <span class="address">TX, 77771</span>
                            </div>
                            <div class="user_item_sec orders">
                                <div class="title">Orders</div>
                                <div class="counts">
                                    <span class="label">Open : </span>
                                    <span class="count open">20</span>
                                </div>
                                <div class="counts">
                                    <span class="label">Closed : </span>
                                    <span class="count closed">10</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="user__details">
            
        </div>
    </div>
</div>