<perfect-scrollbar>
    <div class="custom_scroll">
        <div class="form px-5 py-1">
            <div class="title-heading">
                <h3>Notes & Reminder</h3>
                <div class="flex-row-center">
                    <button class="btn btn-sm" (click)="openSideNav()">Add Notes</button>
                </div>
            </div>
            <div class="row">
                <div class="notes__container">
                    <div class="note">
                        <div class="avatar only-icon">
                            <span class="icon">
                                <img src="../../../../assets/icon_alarm.svg" />
                            </span>
                        </div>
                        <div class="avatar">
                            <span class="icon">
                                <img src="../../../../assets/profile_pic.jpg" />
                            </span>
                        </div>
                        <div class="details">
                            <div class="content">
                                <div class="date">
                                    05/01/2021 18:22 <strong>Varma Ram</strong>
                                </div>
                                <div class="text">
                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumyundefined
                                </div>
                            </div>
                            <div class="actions">
                                <span class="icon">
                                    <img src="../../../../assets/icon_edit.svg" />
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="note">
                        <div class="avatar no-icon">
                            <span class="icon">
                                <img src="../../../../assets/profile_pic.jpg" />
                            </span>
                        </div>
                        <div class="details">
                            <div class="content">
                                <div class="date">
                                    05/01/2021 18:22 <strong>Varma Ram</strong>
                                </div>
                                <div class="text">
                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumyundefined
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="note">
                        <div class="avatar only-icon">
                            <span class="icon">
                                <img src="../../../../assets/icon_alarm.svg" />
                            </span>
                        </div>
                        <div class="avatar">
                            <span class="icon">
                                <img src="../../../../assets/profile_pic.jpg" />
                            </span>
                        </div>
                        <div class="details">
                            <div class="content">
                                <div class="date">
                                    05/01/2021 18:22 <strong>Varma Ram</strong>
                                </div>
                                <div class="text">
                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumyundefined
                                </div>
                            </div>
                            <div class="actions">
                                <span class="icon">
                                    <img src="../../../../assets/icon_edit.svg" />
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="note">
                        <div class="avatar only-icon">
                            <span class="icon">
                                <img src="../../../../assets/icon_alarm.svg" />
                            </span>
                        </div>
                        <div class="avatar">
                            <span class="icon">
                                <img src="../../../../assets/profile_pic.jpg" />
                            </span>
                        </div>
                        <div class="details">
                            <div class="content">
                                <div class="date">
                                    05/01/2021 18:22 <strong>Varma Ram</strong>
                                </div>
                                <div class="text">
                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumyundefined
                                </div>
                            </div>
                            <div class="actions">
                                <span class="icon">
                                    <img src="../../../../assets/icon_edit.svg" />
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="note">
                        <div class="avatar only-icon">
                            <span class="icon">
                                <img src="../../../../assets/icon_alarm.svg" />
                            </span>
                        </div>
                        <div class="avatar">
                            <span class="icon">
                                <img src="../../../../assets/profile_pic.jpg" />
                            </span>
                        </div>
                        <div class="details">
                            <div class="content">
                                <div class="date">
                                    05/01/2021 18:22 <strong>Varma Ram</strong>
                                </div>
                                <div class="text">
                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumyundefined
                                </div>
                            </div>
                            <div class="actions">
                                <span class="icon">
                                    <img src="../../../../assets/icon_edit.svg" />
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</perfect-scrollbar>