<div class="custom_scroll" malihu-scrollbar [scrollbarOptions]="staticService.scrollbarOptions">
    <div class="px-5 py-1">
        <div class="title-heading mb-2">
            <h3>Job Types & Fee</h3>
            <div class="flex-row-center">
                <button class="btn btn-sm" type="button">Add</button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="noindent">
                    <thead>
                        <tr>
                            <th align="left">Job Type</th>
                            <th>Fee</th>
                            <th>Notes</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let d of data">
                            <td>Value Add Interior & Exterior</td>
                            <td>$ 10.00</td>
                            <td><span>Indicate which product you offer by entering a fee</span></td>
                            <td class="actions">
                                <span class="icons">
                                    <img src="../../../../assets/icon_edit.svg" />
                                </span>
                                <span class="icons">
                                    <img src="../../../../assets/icon_delete.svg" />
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>