<div class="app__content">
    <div class="scroll__container pt-2">
        <perfect-scrollbar>
        <div class="dashboard__content">
            <div class="left__content">
                <div class="card mt-4">
                    <div class="card-title flex flex-justify-between">
                        <h3>Orders Summary</h3>
                        <div class="more-actions vertical">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row no-space brd-b">
                            <div class="col-8">
                                <div class="flex flex-column-stretch">
                                    <div class="orders-statistics brd-b">
                                        <div class="order active">
                                            <span class="label">Active Orders</span>
                                            <span class="count">238</span>
                                            <span class="amount">$ 2203.00</span>
                                        </div>
                                        <div class="order">
                                            <span class="label">Daily</span>
                                            <span class="count">12</span>
                                            <span class="amount">$ 543</span>
                                        </div>
                                        <div class="order">
                                            <span class="label">Weekly</span>
                                            <span class="count">25</span>
                                            <span class="amount">$ 543</span>
                                        </div>
                                        <div class="order">
                                            <span class="label">Monthly</span>
                                            <span class="count">134</span>
                                            <span class="amount">$ 543</span>
                                        </div>
                                    </div>
                                    <div class="graph-container pl-2">
                                        <h3 class="mb-5 mt-0">orders by status</h3>
                                        <app-solid-guage></app-solid-guage>
                                    </div>
                                    <div class="viewall py-3 brd-t">
                                        <span class="link">View All Orders</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 bg-dark-5">
                                <div class="widget mx-4 my-5 small mb-2" id="recent-orders">
                                    <div class="widget-head pb-2">
                                        <h4>Orders by Client</h4>
                                        <div class="actions">
                                            <span class="link txt-primary">View All</span>
                                        </div>
                                    </div>
                                    <div class="widget-items" id="orders__client">
                                        <div class="widget-item">
                                            <div class="flex-row-center flex-justify-between">
                                                <div class="icon small">
                                                    <img src="../../assets/icon-clients.png" />
                                                </div>
                                                <div class="details primary">Quick Credit </div>
                                                <div class="status txt-success"><strong class="pr-2">16</strong></div>
                                            </div>
                                        </div>
                                        <div class="widget-item">
                                            <div class="flex-row-center flex-justify-between">
                                                <div class="icon small">
                                                    <img src="../../assets/icon-users.png" />
                                                </div>
                                                <div class="details primary">Sun West Mortgage </div>
                                                <div class="status txt-success"><strong class="pr-2">16</strong></div>
                                            </div>
                                        </div>
                                        <div class="widget-item">
                                            <div class="flex-row-center flex-justify-between">
                                                <div class="icon small">
                                                    <img src="../../assets/icon_orders.png" />
                                                </div>
                                                <div class="details primary">Attom Lenders </div>
                                                <div class="status txt-success"><strong class="pr-2">16</strong></div>
                                            </div>
                                        </div>
                                        <div class="widget-item">
                                            <div class="flex-row-center flex-justify-between">
                                                <div class="icon small">
                                                    <img src="../../assets/icon_users.png" />
                                                </div>
                                                <div class="details primary">Discover </div>
                                                <div class="status txt-success"><strong class="pr-2">16</strong></div>
                                            </div>
                                        </div>
                                        <div class="widget-item">
                                            <div class="flex-row-center flex-justify-between">
                                                <div class="icon small">
                                                    <img src="../../assets/icon_orders.png" />
                                                </div>
                                                <div class="details primary">Attom Lenders </div>
                                                <div class="status txt-success"><strong class="pr-2">16</strong></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget mx-4 my-5 small mb-2" id="recent-orders">
                                    <div class="widget-head pb-2">
                                        <h4>Orders by Appraiser</h4>
                                    </div>
                                    <div class="widget-items" id="orders__client">
                                        <div class="widget-item">
                                            <div class="flex-row-center flex-justify-between">
                                                <div class="icon small">
                                                    <img src="../../assets/icon-clients.png" />
                                                </div>
                                                <div class="details primary">Quick Credit </div>
                                                <div class="status txt-success"><strong class="pr-2">16</strong></div>
                                            </div>
                                        </div>
                                        <div class="widget-item">
                                            <div class="flex-row-center flex-justify-between">
                                                <div class="icon small">
                                                    <img src="../../assets/icon-users.png" />
                                                </div>
                                                <div class="details primary">Sun West Mortgage </div>
                                                <div class="status txt-success"><strong class="pr-2">16</strong></div>
                                            </div>
                                        </div>
                                        <div class="widget-item">
                                            <div class="flex-row-center flex-justify-between">
                                                <div class="icon small">
                                                    <img src="../../assets/icon_orders.png" />
                                                </div>
                                                <div class="details primary">Attom Lenders </div>
                                                <div class="status txt-success"><strong class="pr-2">16</strong></div>
                                            </div>
                                        </div>
                                        <div class="widget-item">
                                            <div class="flex-row-center flex-justify-between">
                                                <div class="icon small">
                                                    <img src="../../assets/icon_users.png" />
                                                </div>
                                                <div class="details primary">Discover </div>
                                                <div class="status txt-success"><strong class="pr-2">16</strong></div>
                                            </div>
                                        </div>
                                        <div class="widget-item">
                                            <div class="flex-row-center flex-justify-between">
                                                <div class="icon small">
                                                    <img src="../../assets/icon_orders.png" />
                                                </div>
                                                <div class="details primary">Attom Lenders </div>
                                                <div class="status txt-success"><strong class="pr-2">16</strong></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row no-space">
                            <div class="col-6 bg-dark-5">
                                <div class="graph-container py-4 px-2">
                                    <h3 class="mb-0">Revenue</h3>
                                    <app-doughnut-chart></app-doughnut-chart>
                                </div>
                            </div>
                            <div class="col-6 bg-white-10">
                                <div class="graph-container p-5">
                                    <app-bar-chart></app-bar-chart>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4 no-space">
                    <div class="tabs__container mt-4 mb-8" id="orders_tabs">
                        <div class="tabs">
                            <ul>
                                <li class="tab-link active">Due date orders</li>
                                <li class="tab-link">Rush orders</li>
                            </ul> 
                            <div class="link">
                                View All
                            </div>
                        </div>
                        <div class="tab__content">
                            <div class="row">
                                <div class="col-3">
                                    <div class="card">
                                        <div class="card-title flex flex-justify-between">
                                            <div class="chip small assigned">Assigned</div>
                                            <div class="value">1004 URAR</div>
                                        </div>
                                        <div class="card-body">
                                            <div class="date">20 APR 2021</div>
                                            <div class="sonumber">SWM-21-3-2593</div>
                                        </div>
                                        <div class="card-footer">
                                            <span class="address">
                                                3137 Catalina Ranch Road Leander Williamson County TX 78641
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="card">
                                        <div class="card-title flex flex-justify-between">
                                            <div class="chip small accepted">Accepted</div>
                                            <div class="value">1004 URAR</div>
                                        </div>
                                        <div class="card-body">
                                            <div class="date">20 APR 2021</div>
                                            <div class="sonumber">SWM-21-3-2593</div>
                                        </div>
                                        <div class="card-footer">
                                            <span class="address">
                                                3137 Catalina Ranch Road Leander Williamson County TX 78641
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="card">
                                        <div class="card-title flex flex-justify-between">
                                            <div class="chip small inreview">In Review</div>
                                            <div class="value">1004 URAR</div>
                                        </div>
                                        <div class="card-body">
                                            <div class="date">20 APR 2021</div>
                                            <div class="sonumber">SWM-21-3-2593</div>
                                        </div>
                                        <div class="card-footer">
                                            <span class="address">
                                                3137 Catalina Ranch Road Leander Williamson County TX 78641
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="card">
                                        <div class="card-title flex flex-justify-between">
                                            <div class="chip small assigned">Assigned</div>
                                            <div class="value">1004 URAR</div>
                                        </div>
                                        <div class="card-body">
                                            <div class="date">20 APR 2021</div>
                                            <div class="sonumber">SWM-21-3-2593</div>
                                        </div>
                                        <div class="card-footer">
                                            <span class="address">
                                                3137 Catalina Ranch Road Leander Williamson County TX 78641
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right__content">
                <h2 class="pb-5">Things you can do</h2>
                <div class="widget mb-8" id="create">
                    <div class="widget-head pb-2">
                        <h4>CREATE</h4>
                    </div>
                    <div class="widget-item">
                        <div class="flex flex-justify-evenly">
                            <div class="item-details">
                                <div class="icon">
                                    <img src="../../../../assets/icon-orders.png" />
                                </div>
                                <div class="text">
                                    Order
                                </div>
                            </div>
                            <div class="item-details">
                                <div class="icon">
                                    <img src="../../../../assets/icon-clients.png" />
                                </div>
                                <div class="text">
                                    Clients
                                </div>
                            </div>
                            <div class="item-details">
                                <div class="icon">
                                    <img src="../../../../assets/icon-users.png" />
                                </div>
                                <div class="text">
                                    Users
                                </div>
                            </div>
                            <div class="item-details">
                                <div class="icon">
                                    <img src="../../../../assets/icon-accounts.png" />
                                </div>
                                <div class="text">
                                    Invoice
                                </div>
                            </div>
                            <div class="item-details">
                                <div class="icon">
                                    <img src="../../../../assets/icon_tasks.png" />
                                </div>
                                <div class="text">
                                    Task
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget mb-5" id="recent-orders">
                    <div class="widget-head pb-2">
                        <h4>RECENTLY ACCESSED ORDERS</h4>
                    </div>
                    <div class="widget-items">
                        <div class="widget-item">
                            <div class="flex flex-justify-between">
                                <div class="details primary">EA-4-21-6732 </div>
                                <div class="status txt-primary">New</div>
                            </div>
                        </div>
                        <div class="widget-item">
                            <div class="flex flex-justify-between">
                                <div class="details primary">EA-4-21-6732</div>
                                <div class="status txt-warning">UNASSIGNED</div>
                            </div>
                        </div>
                        <div class="widget-item">
                            <div class="flex flex-justify-between">
                                <div class="details primary">EA-4-21-6732</div>
                                <div class="status txt-success">Assigned</div>
                            </div>
                        </div>
                        <div class="widget-item">
                            <div class="flex flex-justify-between">
                                <div class="details primary">EA-4-21-6732</div>
                                <div class="status txt-danger">Canceled</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget mb-5" id="messages">
                    <div class="widget-head pb-2">
                        <h4>Messages From</h4>
                    </div>
                    <div class="widget-items">
                        <div class="widget-item">
                            <div class="flex flex-justify-between">
                                <div class="icon">
                                    <span class="unread"></span>
                                </div>
                                <div class="details primary">
                                    <strong>EA-4-21-6732</strong>
                                    <span class="helper-text">3137 Catalina Ranch Road <br />Leander Williamson County
                                        TX 78641</span>
                                </div>
                                <div class="status txt-danger">Status</div>
                            </div>
                        </div>
                        <div class="widget-item">
                            <div class="flex flex-justify-between">
                                <div class="icon">
                                    <span class="unread"></span>
                                </div>
                                <div class="details primary">
                                    <strong>EA-4-21-6732</strong>
                                    <span class="helper-text">3137 Catalina Ranch Road <br />Leander Williamson County
                                        TX 78641</span>
                                </div>
                                <div class="status txt-danger">Status</div>
                            </div>
                        </div>
                        <div class="widget-item">
                            <div class="flex flex-justify-between">
                                <div class="icon">
                                    <span class="unread"></span>
                                </div>
                                <div class="details primary">
                                    <strong>EA-4-21-6732</strong>
                                    <span class="helper-text">3137 Catalina Ranch Road <br />Leander Williamson County
                                        TX 78641</span>
                                </div>
                                <div class="status txt-danger">Status</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget mb-5" id="todaystasks">
                    <div class="widget-head pb-2">
                        <h4>Today’s tasks</h4>
                        <div class="actions">
                            <span class="link txt-primary">Create Task</span>
                        </div>
                    </div>
                    <div class="widget-items">
                        <div class="widget-item">
                            <div class="flex flex-justify-between bg-danger-10">
                                <div class="icon tasks">
                                    <span class="bg-danger"></span>
                                </div>
                                <div class="details">
                                    Follow up with Manager on new account up..
                                </div>
                            </div>
                        </div>
                        <div class="widget-item">
                            <div class="flex flex-justify-between bg-warning-10">
                                <div class="icon tasks">
                                    <span class="bg-warning"></span>
                                </div>
                                <div class="details">
                                    Follow up with Manager on new account up..
                                </div>
                            </div>
                        </div>
                        <div class="widget-item">
                            <div class="flex flex-justify-between bg-success-10">
                                <div class="icon tasks">
                                    <span class="bg-success"></span>
                                </div>
                                <div class="details">
                                    Follow up with Manager on new account up..
                                </div>
                            </div>
                        </div>
                        <div class="widget-item">
                            <div class="flex flex-justify-between bg-danger-10">
                                <div class="icon tasks">
                                    <span class="bg-danger"></span>
                                </div>
                                <div class="details">
                                    Follow up with Manager on new account up..
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget mb-5" id="todaystasks">
                    <div class="widget-head pb-2">
                        <h4>ACTIVITY</h4>
                    </div>
                    <div class="widget-items">
                        <div class="widget-item">
                            <div class="flex-row-center flex-justify-between">
                                <div class="icon small">
                                    <img src="../../assets/icon_orders.png" />
                                </div>
                                <div class="details">
                                    Order: <strong>SWM-21-3-2593</strong> status updated to <span
                                        class="txt-primary">Unassigned</span> by <strong>Varma
                                        Ram</strong>
                                </div>
                                <div class="status txt-primary">10 Mins</div>
                            </div>
                        </div>
                        <div class="widget-item">
                            <div class="flex-row-center flex-justify-between">
                                <div class="icon small">
                                    <img src="../../assets/icon-clients.png" />
                                </div>
                                <div class="details">
                                    Order: <strong>SWM-21-3-2593</strong> status updated to <span
                                        class="txt-primary">Unassigned</span> by <strong>Varma
                                        Ram</strong>
                                </div>
                                <div class="status txt-primary">Yesterday</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </perfect-scrollbar>
    </div>
</div>