
@import '../../../../assets/scss/grid';
@import '../../../../assets/scss/colors';
@import '../../../../assets/scss/chips';
@import '../../../../assets/scss/utilities';

.app__content {
     padding: 0;
     background: #F9F9F9;
 }
 .scroll__container {
     display: flex;
     height: 100%;
     box-sizing: border-box;
     .dashboard__content {
        display: flex;
        .left__content {
            width: 100%;
            flex: 1;
            padding: 0px 1rem 0px 1.4rem;
        }
        .right__content {
            max-width: 360px;
            width: 360px;
            padding: 1.5rem 1.5rem;
        }
     }
 }

h2 {
    font-size: 24px;
    font-weight: 300;
    color: #304950;
    margin: 0;
    padding: 0;
    line-height: 1;
}
h4 {
    font-size: 16px;
    font-weight: 500;
    color: #6A8991;
    margin: 0;
    padding: 0;
    line-height: 1;
}
.widget {
    &-item {
        border-radius: 5px;
        background: #ffffff;
        box-shadow: 0px 0px 8px rgb(0 0 0 / 12%);
        overflow: hidden;
    }
    &-head {
        display: flex;
        justify-content: space-between;
        h4 {
            text-transform: uppercase;
        }
        .actions {
            font-size: 13px;
        }
    }
    &-items {
        .widget-item {
            margin-bottom: 10px;
            .icon {
                padding: 6px 0 10px 6px;
                &.small {
                    img {
                        height: 22px;
                        padding-left: 6px;
                    }
                }
                &.tasks {
                    width: 4px;
                    max-width: 4px;
                    padding: 0px;
                    span {
                        height: 100%;
                        width: 100%;
                        display: inline-block;
                    }
                }
                .unread {
                    width: 8px;
                    height: 8px;
                    margin-left: 5px;
                    display: inline-block;
                    background: $list-unread;
                    border-radius: 10px;
                    vertical-align: middle;
                }
            }
            .status {
                font-size: 13px;
                padding: 10px;
                text-align: right;
            }
            .details {
                padding: 10px 10px;
                font-size: 14px;
                flex: 1;
                color: $widget-secondary;
                &.primary {
                    color: $widget-primary;
                }
                strong {
                    font-weight: 500;
                }
                .helper-text {
                    padding-top: 5px;
                    display: block;
                    font-size: 12px;
                    line-height: 1.2;
                    color: $widget-secondary;
                }
            }
        }
    }
    &#create {
        .item-details {
            text-align: center;
            justify-content: center;
            padding: 1rem 2px;
            .icon {
                img {
                    height: 32px;
                    display: inline-block;
                }
            }
            .text {
                font-size: 14px;
                color: #0A62AC;
                padding-top: 7px;
                text-transform: uppercase;
            }
        }
    }
    &.small {
        .widget-head {
            h4 {
                font-size: 14px;
            }
        }
    }
}
#orders__client {
    .widget-item {
        border-radius: 30px;
        margin-bottom: 5px;
        .icon, .details, .status {
            padding-top: 5px;
            padding-bottom: 5px;
        }
    }
}

.graph-container {
    flex: auto;
    h3 {
        font-weight: 500;
        color: $secondary;
        font-size: 16px;
        text-transform: uppercase;
        padding: 0px 20px 0px 10px;
    }
}
.viewall {
    height: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
    max-height: 36px;
    .link {
        color: $extras;
    }
}
.orders-statistics {
    display: flex;
    flex: content;
    justify-content: space-between;
    padding: 1rem 1.2rem .75rem;
    margin: 0 0 20px;
    max-height: 80px;
    .order {
        display: flex;
        flex-direction: column;
        line-height: 1.3;
        margin-right: 20px;
        .label {
            text-transform: uppercase;
            font-size: 14px;
            color: $widget-secondary;
        }
        .count {
            font-size: 24px;
        }
        .amount {
            font-size: 12px;
            color: $widget-secondary;
        }
        &.active {
            .label {
                font-size: 16px;
                font-weight: 500;
            }
            .count {
                font-size: 32px;
                color: $widget-active;
            }
        }
    }
}

#orders_tabs{
    background: transparent;
    .tabs {
        background: transparent;
        &::after {
            display: none;
        }
        ul {
            li {
                background: transparent !important;
                font-size: 16px;
                font-weight: 700;
                text-transform: uppercase;
                color: $success;
                margin: 0 20px 0 0;
                padding: 0 0 8px;
                line-height: 1;
                border-bottom: solid 1px transparent;
                &.active {
                    color: $secondary;
                    border-bottom-color: $secondary;
                }
            }
        }
    }
    .tab__content {
        padding: 1rem 0;
        .card {
            &-title {
                padding: 8px 10px;
                border-bottom: 0;
                margin-bottom: 10px;
                .value {
                    font-size: 13px;
                    font-weight: 500;
                    letter-spacing: .25px;
                    color: $secondary;
                    text-transform: uppercase;
                }
            }
            &-body {
                padding: 4px 10px 15px;
                border-bottom: solid 1px $border-color;
                .date {
                    font-size: 20px;
                    font-weight: 500;
                    color: $danger;
                    padding-bottom: 4px;
                }
                .sonumber {
                    font-size: 16px;
                    font-weight: 500;
                    color: $secondary;
                }
            }
            &-footer {
                padding: 8px 10px;
                .address {
                    color: $secondary;
                    font-size: 11px;
                    line-height: 1;
                }
            }
        }
    }
}