
@import '../../../../assets/scss/grid';
@import '../../../../assets/scss/colors';
@import '../../../../assets/scss/chips';
@import '../../../../assets/scss/utilities';

.app__content {
     padding: 0;
     background: #F9F9F9;
 }
 .scroll__container {
     display: flex;
     height: 100%;
     box-sizing: border-box;
     .dashboard__content {
        display: flex;
        .left__content {
            width: 100%;
            flex: 1;
            padding: 0px 1rem 0px 1.4rem;
        }
        .right__content {
            max-width: 360px;
            width: 360px;
            padding: 1.5rem 1.5rem;
        }
     }
 }

h2 {
    font-size: 24px;
    font-weight: 300;
    color: #304950;
    margin: 0;
    padding: 0;
    line-height: 1;
}
h4 {
    font-size: 16px;
    font-weight: 500;
    color: #6A8991;
    margin: 0;
    padding: 0;
    line-height: 1;
}
#orders__client {
    .widget-item {
        border-radius: 30px;
        margin-bottom: 5px;
        .icon, .details, .status {
            padding-top: 5px;
            padding-bottom: 5px;
        }
    }
}

.graph-container {
    flex: auto;
    h3 {
        font-weight: 500;
        color: $secondary;
        font-size: 16px;
        text-transform: uppercase;
        padding: 0px 20px 0px 10px;
    }
}
.viewall {
    height: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
    max-height: 36px;
    .link {
        color: $extras;
    }
}

#orders_tabs{
    background: transparent;
    .tabs {
        background: transparent;
        &::after {
            display: none;
        }
        ul {
            li {
                background: transparent !important;
                font-size: 16px;
                font-weight: 700;
                text-transform: uppercase;
                color: $success;
                margin: 0 20px 0 0;
                padding: 0 0 8px;
                line-height: 1;
                border-bottom: solid 1px transparent;
                &.active {
                    color: $secondary;
                    border-bottom-color: $secondary;
                }
            }
        }
    }
    .tab__content {
        padding: 1rem 0;
        .card {
            &-title {
                padding: 8px 10px;
                border-bottom: 0;
                margin-bottom: 10px;
                .value {
                    font-size: 13px;
                    font-weight: 500;
                    letter-spacing: .25px;
                    color: $secondary;
                    text-transform: uppercase;
                }
            }
            &-body {
                padding: 4px 10px 15px;
                border-bottom: solid 1px $border-color;
                .date {
                    font-size: 20px;
                    font-weight: 500;
                    color: $danger;
                    padding-bottom: 4px;
                }
                .sonumber {
                    font-size: 16px;
                    font-weight: 500;
                    color: $secondary;
                }
            }
            &-footer {
                padding: 8px 10px;
                .address {
                    color: $secondary;
                    font-size: 11px;
                    line-height: 1;
                }
            }
        }
    }
}