<div class="app__content">
    <div class="scroll__container" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
        <div class="dashboard__content">
            <div class="left__content"></div>
            <div class="right__content">
                <h2 class="pb-5">Things you can do</h2>
                <div class="widget" id="create">
                    <h4 class="pb-1">CREATE</h4>
                    <div class="widget-item">
                        <div class="flex flex-justify-between">
                            <div class="item-details">
                                <div class="icon">
                                    <img src="../../../../assets/icon-orders.png" />
                                </div>
                                <div class="text">
                                    Order
                                </div>
                            </div>
                            <div class="item-details">
                                <div class="icon">
                                    <img src="../../../../assets/icon_users.png" />
                                </div>
                                <div class="text">
                                    Users
                                </div>
                            </div>
                            <div class="item-details">
                                <div class="icon">
                                    <img src="../../../../assets/icon-orders.png" />
                                </div>
                                <div class="text">
                                    Order
                                </div>
                            </div>
                            <div class="item-details">
                                <div class="icon">
                                    <img src="../../../../assets/icon_accounts.png" />
                                </div>
                                <div class="text">
                                    Invoice
                                </div>
                            </div>
                            <div class="item-details">
                                <div class="icon">
                                    <img src="../../../../assets/icon_tasks.png" />
                                </div>
                                <div class="text">
                                    Task
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>