<div class="card card-small">
  <div class="card-title">
    <h3>Appraisers</h3>
    <div class="actions">
      <button class="btn btn-primary btn-xsm">Add</button>
    </div>
  </div>
  <div class="card-body" id="appraisers">
    <div class="appraiser_profile brd-b">
      <div class="pic">
        <img src="../../../../assets/profile_pic.jpg" />
      </div>
      <div class="info">
        <span class="name">Lindsay Aagenes</span>
        <span class="type">SELF INSPECTION</span>
      </div>
    </div>
    <div class="label-value brd-b">
      <div class="label">COMPLEXITY TYPE</div>
      <div class="value text-right"><span class="txt-extras">ADD</span></div>
    </div>
    <div class="label-value location">
      <div class="label">LOCATION</div>
      <div class="value text-right">
        <address>
          5575 Warren Parkway <br />Frisco Collin County <br />TX 75034
        </address>
        <span class="icon text-extras">
          <img src="../../../../../assets/icon_location.svg" />
        </span>
      </div>
    </div>
  </div>
</div>
