<div class="login__container">
    <div class="login__heading">
        <h2 class="heading"><span>Sign in</span></h2>
        <span>to your account</span>
    </div>
    <div class="login__form">
        <div class="row">
            <div class="col">
                <div class="f-group">
                    <label class="required">User ID</label>
                    <div class="f-field has-icon">
                        <input type="text" placeholder="Enter your Email ID" />
                        <div class="error">
                            <div>User ID is required</div>
                        </div>
                        <button class="btn btn-gradient has-icon only-icon">
                            <span class="icon">
                                <img src="../../../../assets/icon_login_arrow.svg" />
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="helper__text">
        <div class="text">
            Don’t have an account?
        </div>
        <a href="#"  routerLink="/auth/register" class="link">Sing Up</a>
    </div>
</div>