<div class="widget  flex-column-stretch" id="orders-status">
    <perfect-scrollbar>
        <div class="widget-items px-4 py-4">
            <div class="widget-item active">
                <div class="flex flex-justify-between">
                    <div class="details primary">All</div>
                    <div class="status txt-primary">1425</div>
                </div>
            </div>
            <div class="widget-item">
                <div class="flex flex-justify-between">
                    <div class="details primary">Accepted w/cond</div>
                    <div class="status txt-warning">1200</div>
                </div>
            </div>
            <div class="widget-item">
                <div class="flex flex-justify-between">
                    <div class="details primary">Submitted</div>
                    <div class="status txt-success">150</div>
                </div>
            </div>
            <div class="widget-item">
                <div class="flex flex-justify-between">
                    <div class="details primary">Cancelled</div>
                    <div class="status txt-danger">75</div>
                </div>
            </div>
            <div class="widget-item">
                <div class="flex flex-justify-between">
                    <div class="details primary">All</div>
                    <div class="status txt-primary">1425</div>
                </div>
            </div>
            <div class="widget-item">
                <div class="flex flex-justify-between">
                    <div class="details primary">Accepted w/cond</div>
                    <div class="status txt-warning">1200</div>
                </div>
            </div>
            <div class="widget-item">
                <div class="flex flex-justify-between">
                    <div class="details primary">Submitted</div>
                    <div class="status txt-success">150</div>
                </div>
            </div>
            <div class="widget-item">
                <div class="flex flex-justify-between">
                    <div class="details primary">Cancelled</div>
                    <div class="status txt-danger">75</div>
                </div>
            </div>
            <div class="widget-item">
                <div class="flex flex-justify-between">
                    <div class="details primary">All</div>
                    <div class="status txt-primary">1425</div>
                </div>
            </div>
            <div class="widget-item">
                <div class="flex flex-justify-between">
                    <div class="details primary">Accepted w/cond</div>
                    <div class="status txt-warning">1200</div>
                </div>
            </div>
            <div class="widget-item">
                <div class="flex flex-justify-between">
                    <div class="details primary">Submitted</div>
                    <div class="status txt-success">150</div>
                </div>
            </div>
            <div class="widget-item">
                <div class="flex flex-justify-between">
                    <div class="details primary">Cancelled</div>
                    <div class="status txt-danger">75</div>
                </div>
            </div>
        </div>
    </perfect-scrollbar>
</div>