<form class="modal modal-container">
    <div class="modal-title">
        <h4 class="heading">Edit Products & Instructions</h4>
    </div>
    <div class="modal-body" malihu-scrollbar>
        <div class="px-8 py-8">
            <form>
                <div class="row mb-8">
                    <div class="col-4 offset-8 text-right">
                        <label class="mr-4">Enable All</label>
                        <ng-toggle [disabled]="toggle.disabled" [width]="toggle.width" [height]="toggle.height"
                            [margin]="toggle.margin" [labels]="toggle.labels" [color]="toggle.color"
                            [switchColor]="toggle.switchColor" [fontColor]="toggle.fontColor"
                            [fontSize]="toggle.fontSize">
                        </ng-toggle>
                    </div>
                </div>
                <div class="row" *ngFor="let d of data">
                    <div class="col-5 flex flex-row-center">
                        <div class="f-group">
                            <div class="f-field-value">LAND ONLY APPRAISAL W/ REO ADDENDUM</div>
                        </div>
                    </div>
                    <div class="col-5 offset-1 flex flex-row-center">
                        <div class="f-group">
                            <div class="f-field">
                                <textarea placeholder="Enter instructions"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-1 flex flex-row-center flex-justify-right">
                        <div class="f-group">
                            <div class="f-field nob">
                                <ng-toggle [disabled]="toggle.disabled" [width]="toggle.width" [height]="toggle.height"
                                    [margin]="toggle.margin" [labels]="toggle.labels" [color]="toggle.color"
                                    [switchColor]="toggle.switchColor" [fontColor]="toggle.fontColor"
                                    [fontSize]="toggle.fontSize">
                                </ng-toggle>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer flex-row-center flex-justify-between">
        <div class="text my-2 txt-danger">
            <small>Caution: Product notes are default “product instructions” on a new order.</small>
        </div>
        <div class="actions my-2 flex">
            <button class="btn btn-secondary-outline" (click)="sharedService.closeSlider()">Cancel</button>
            <button class="btn ml-2">Add</button>
        </div>
    </div>
</form>