<perfect-scrollbar>
  <div class="custom_scroll">
    <div class="form px-5 py-1">
      <div class="title-heading">
        <h3>General Instructions</h3>
        <div class="flex-row-center">
          <button class="btn btn-sm" (click)="openSideNav()">Edit</button>
        </div>
      </div>
      <div class="row text-content">
        <div class="col-12">
          <p class="txt-secondary mb-8"><i><small>Add any Client specific instructions for the Appraisers</small></i>
          </p>
          <p class="txt-secondary mb-4">Last Updated On: 5 May 2021 10:10</p>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
            et dolore magna aliquyam erat, sed diam voluptua.At vero eos et accusam et justo duo dolores et ea rebum.
            Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit
            amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua.</p>
          <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus
            est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
            eirmod tempor invidunt ut labore et doloreundefined</p>
        </div>
      </div>
    </div>
  </div>
</perfect-scrollbar>