<div class="flex flex-justify-between flex-row-center">
    <div class="search__container no-border">
        <div class="search">
            <div class="sort__by">
                <select>
                    <option>Loan Number</option>
                </select>
            </div>
            <span class="icon">
                <img src="../../assets/icon-search.svg" />
            </span>
            <input type="search" placeholder="Search Users" />
        </div>
    </div>
    <div class="orders__statistics">
        <div class="stats">
            <div class="count txt-success">332</div>
            <div class="label">
                DUE TODAY
            </div>
        </div>
        <div class="stats">
            <div class="count txt-success">112</div>
            <div class="label">
                DUE TOMORROW
            </div>
        </div>
        <div class="stats">
            <div class="count txt-danger">46</div>
            <div class="label">
                OVER DUE
            </div>
        </div>
        <div class="stats active">
            <div class="count txt-secondary">23</div>
            <div class="label">
                RUSH ORDERS
            </div>
        </div>
    </div>
    <div class="actions px-4">
        <button class="btn btn-transparent only-icon left">
            <span class="icon">
                <img src="../../../../assets/icon_alarm_grey.svg">
            </span>
        </button>
    </div>
</div>