<div class="search__container">
    <select class="S_con">
        <option>Loan Number</option>
    </select>
    <div class="search">
        <span class="icon"><img src="../../assets/icon-search.svg"></span>
        <input type="search" placeholder="Search Client Loan Number">
    </div>
    <div class="p-l-3"></div>
    <div class="order_count_container">
        <div class="order_due">
            <div class="flex-row-center">
                <span class="text txt-success duetodaycount">02</span>
                <div class="dueText">
                    <div class="">
                        <span class="text txt-primary">DUE</span>
                    </div>
                    <div class="">
                        <span class="text txt-primary">TODAY</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="p-l-3"></div>
    <div class="order_count_container">
        <div class="order_due">
            <div class="flex-row-center">
                <span class="text txt-success duetomcount">04</span>
                <div class="dueText">
                    <div class="">
                        <span class="text txt-primary">DUE</span>
                    </div>
                    <div class="">
                        <span class="text txt-primary">TOMORROW</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="p-l-3"></div>
    <div class="order_count_container">
        <div class="order_due">
            <div class="flex-row-center">
                <span class="text txt-danger dueovercount">04</span>
                <div class="dueText">
                    <div class="">
                        <span class="text txt-primary">OVER</span>
                    </div>
                    <div class="">
                        <span class="text txt-primary">DUE</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="p-l-3"></div>
    <div class="order_count_container">
        <div class="order_due">
            <div class="flex-row-center">
                <span class="text txt-primary rushcount">02</span>
                <div class="dueText">
                    <div class="">
                        <span class="text txt-primary">RUSH</span>
                    </div>
                    <div class="">
                        <span class="text txt-primary">ORDERS</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="filter__container"> 
    <div class="orders__con__filters">
        <div class="sort__by">
            <span class="filter__text">FLAG AS:</span>
            <select>
                <option >Red</option>
            </select>
        </div>
        
    </div>

</div>