<div class="user__info">
    <div class="user__info-detials">
        <span class="role-bar bg-admin"></span>
        <div class="profile__img">
            <span class="pic">
                <img src="../../../assets/profile_pic.jpg" />
            </span>
            <span class="badge bottom-center"></span>
        </div>
        <div class="profile__info__con">
            <!-- <div class="details"> -->
            <div class="name">Juan Anderson</div>
            <div class="email-role">
                <span>Admin</span>
                <span class="divider">.</span>
                <a class="email" href="mailto: jaunanderson@domainname.com">jaunanderson@domainname.com</a>
                <span class="copy"></span>
            </div>
            <div class="contact">
                <span class="phone">(999) 999 9999</span>
                <span class="divider">.</span>
                <span class="location">3137 Catalina Ranch Road Leander, Williamson County, TX, 78641</span>
            </div>
            <!-- </div> -->
        </div>
        <div class="profile__events">
            <ng-toggle [disabled]="toggle.disabled" [width]="toggle.width" [height]="toggle.height"
                [margin]="toggle.margin" [labels]="toggle.labels" [color]="toggle.color"
                [switchColor]="toggle.switchColor" [fontColor]="toggle.fontColor" [fontSize]="toggle.fontSize">
            </ng-toggle>
        </div>
    </div>
    <div class="user__info-earnings user__stats flex-row-center">
        <div class="user__stat">
            <div class="icon">
                <img src="../../../assets/icon_location.svg" />
            </div>
            <div class="text">
                <span class="label">Earnings</span>
                <span class="value">$2,495</span>
            </div>
        </div>
        <div class="user__stat">
            <div class="icon">
                <img src="../../../assets/icon_location.svg" />
            </div>
            <div class="text">
                <span class="label">Expenses</span>
                <span class="value">$2,495</span>
            </div>
        </div>
        <div class="user__stat">
            <div class="icon">
                <img src="../../../assets/icon_location.svg" />
            </div>
            <div class="text">
                <span class="label">Net Earnings</span>
                <span class="value">$2,495</span>
            </div>
        </div>
        <div class="user__stat">
            <div class="icon">
                <img src="../../../assets/icon_location.svg" />
            </div>
            <div class="text">
                <span class="label">Open Orders</span>
                <span class="value">$2,495</span>
            </div>
        </div>
        <div class="user__stat">
            <div class="icon">
                <img src="../../../assets/icon_location.svg" />
            </div>
            <div class="text">
                <span class="label">Closed Orders</span>
                <span class="value">$2,495</span>
            </div>
        </div>
    </div>
    <div class="user__info-section">
        <div class="tabs__container">
            <div class="tabs" id="app_tabs">
                <ul>
                    <li class="tab-link" routerLinkActive="active" routerLink="personal-info">Personal Info</li>
                    <li class="tab-link" routerLinkActive="active" routerLink="organisation">Organisation</li>
                    <li class="tab-link" routerLinkActive="active" routerLink="orders">Orders</li>
                    <li class="tab-link" routerLinkActive="active" routerLink="clients">Clients</li>
                    <li class="tab-link" routerLinkActive="active" routerLink="jobtypes">Job Types & Fee</li>
                    <li class="tab-link" routerLinkActive="active" routerLink="coverage">Coverage</li>
                    <li class="tab-link" routerLinkActive="active" routerLink="fee-structure">Fee Structure</li>
                    <li class="tab-link" routerLinkActive="active" routerLink="products-vendors">Products & Vendors</li>
                </ul>
            </div>
            <div class="tab__content">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
    <app-slider></app-slider>
</div>