@import '../../../assets/scss/mixins';
@import '../../../assets/scss/colors';
.amc__app {
    height: 100%;
    @include flex-column-stretch;
    .amc__content {
        @include flex-column-stretch;
        flex: 1;
        background: $menu-bg;
        position: relative;
        min-height: 0;
        .container {
            position: relative;
            height: 100%;
            ::ng-deep {
                > * {
                    display: block;
                    min-height: 100%;
                    width: 100%;
                    height: 100%;
                }
                router-outlet {
                    max-height: 0px;
                    min-height: 0px;
                }
            }
        }
        // [app-*] {
        //     height: 100%;
        // }
    }
}