<div class="card card-small">
  <div class="card-title">
    <h3>DOCUMENTS</h3>
    <div class="actions">
      <button class="btn btn-primary btn-xsm">Add</button>
    </div>
  </div>
  <div class="card-body" id="documents">
    <perfect-scrollbar>
      <div class="documents p-3">
        <div class="document">
          <div class="details">
            <div class="icon">
              <img src="../../../../../assets/icon_location.svg" />
            </div>
            <div class="name">Document Name</div>
          </div>
          <div class="icon download">
            <img src="../../../../../assets/icon_location.svg" />
          </div>
        </div>
        <div class="document">
          <div class="details">
            <div class="icon">
              <img src="../../../../../assets/icon_location.svg" />
            </div>
            <div class="name">Document Name</div>
          </div>
          <div class="icon download">
            <img src="../../../../../assets/icon_location.svg" />
          </div>
        </div>
        <div class="document">
          <div class="details">
            <div class="icon">
              <img src="../../../../../assets/icon_location.svg" />
            </div>
            <div class="name">
              Document Name Document Name Document Name Document Name
            </div>
          </div>
          <div class="icon download">
            <img src="../../../../../assets/icon_location.svg" />
          </div>
        </div>
        <div class="document">
          <div class="details">
            <div class="icon">
              <img src="../../../../../assets/icon_location.svg" />
            </div>
            <div class="name">Document Name</div>
          </div>
          <div class="icon download">
            <img src="../../../../../assets/icon_location.svg" />
          </div>
        </div>
        <div class="document">
          <div class="details">
            <div class="icon">
              <img src="../../../../../assets/icon_location.svg" />
            </div>
            <div class="name">Document Name</div>
          </div>
          <div class="icon download">
            <img src="../../../../../assets/icon_location.svg" />
          </div>
        </div>
        <div class="document">
          <div class="details">
            <div class="icon">
              <img src="../../../../../assets/icon_location.svg" />
            </div>
            <div class="name">Document Name</div>
          </div>
          <div class="icon download">
            <img src="../../../../../assets/icon_location.svg" />
          </div>
        </div>
        <div class="document">
          <div class="details">
            <div class="icon">
              <img src="../../../../../assets/icon_location.svg" />
            </div>
            <div class="name">Document Name</div>
          </div>
          <div class="icon download">
            <img src="../../../../../assets/icon_location.svg" />
          </div>
        </div>
      </div>
    </perfect-scrollbar>
  </div>
</div>
