@import "../../../../../assets/scss/colors";
@import "../../../../../assets/scss/utilities";
@import "../../../../../assets/scss/mixins";

#documents {
  height: 190px;
  .document {
    display: flex;
    justify-content: space-between;
    @include rgba-background($widget-secondary, 0.1);
    padding: 8px 10px;
    border-radius: 6px;
    margin-bottom: 10px;
    .details {
      display: flex;
      flex: auto;
      max-width: calc(100% - 24px);
      align-items: center;
      padding-right: 10px;
      .icon {
        margin-right: 8px;
      }
      .name {
        font-size: 13px;
        @include text-overflow;
      }
    }
    .icon {
      img {
        height: 18px;
      }
    }
  }
}
