// ::ng-deep .ngx-datatable .datatable-body {
//     max-height: 200px !important;
//     overflow: hidden auto;
// }
@import "../../../../../assets/scss/grid";
@import "../../../../../assets/scss/datatable";
@import "../../../../../assets/scss/colors";
@import "../../../../../assets/scss/utilities";

.custom_scroll {
  padding: 2px 8px 2px 5px;
  box-sizing: border-box;
}
::ng-deep {
  .ngx-datatable {
    box-shadow: none !important;
    width: calc(100% + 7px);
    .datatable-header,
    .datatable-body {
      padding-left: 5px;
    }
    .datatable-header {
      border-bottom: none !important;
      display: flex !important;
      align-items: center;
      .datatable-header-cell {
        padding-top: 0.3rem !important;
        padding-bottom: 0.3rem !important;
      }
    }
    .datatable-body {
      .datatable-row-detail {
        background: #ffffff !important;
        padding: 10px 0 !important;
        box-sizing: border-box;
        max-width: calc(100% - 12px);
      }
    }
  }
  .datatable-row-wrapper {
  }
  .ngx-datatable .datatable-body-row {
    outline: none;
  }
  .ngx-datatable .datatable-body .datatable-body-row {
    align-items: center;
    &:hover {
      background: #fff !important;
    }
  }
  .ngx-datatable .datatable-body .datatable-body-row > div {
    max-height: 45px;
    box-shadow: 0 0 5px rgb(0 0 0 / 20%);
    background: #fff;
    border-radius: 5px;
    max-width: calc(100% - 12px);
    &:hover {
      background-color: #eee;
      transition-property: background;
      transition-duration: 0.3s;
      transition-timing-function: linear;
    }
  }
  .datatable-body-cell {
    height: 45px !important;
    font-size: 13px !important;
    color: $secondary;
  }
}
.row__detail {
  padding: 5px 6px;
  .progress_bar_con {
    width: 166px;
    max-width: 166px !important;
    padding: 15px 15px !important;
    box-sizing: border-box;
    .progress_details {
      padding-top: 15px;
      text-align: center;
      .label {
        text-transform: uppercase;
        font-size: 0.8267rem;
        padding-bottom: 2px;
      }
      .value {
        font-weight: 500;
        color: $success;
        font-size: 1.2rem;
      }
    }
  }
  .progress_bar {
    width: 136px;
    position: relative;
    padding: 4px 0 0;
    min-height: 136px;
    .count {
      top: calc(50% - 14px);
      position: absolute;
      font-size: 2rem;
      font-weight: 400;
      left: 0;
      right: 0;
      text-align: center;
      color: $secondary;
    }
  }

  .progress_bar_details {
    padding: 25px 15px 15px 0 !important;
  }
  .label-value {
    padding: 5px 0px;
    &.location {
      padding-bottom: 10px;
      margin-top: 10px;
    }
    .label {
      font-size: 0.767rem;
    }
    .value {
      font-size: 0.767rem;
    }
    strong {
      font-size: 0.8267rem;
      font-weight: bold;
    }
  }

  .order__export {
    display: flex;
    align-items: center;
    padding: 5px 15px 5px 15px;
    .order__rush {
      display: inline;
      label {
        display: block;
        font-size: 0.767rem;
        color: $secondary;
        padding: 5px 6px 5px 0px;
        min-width: 80px;
      }
    }
    button {
      padding: 0px;
      width: 30px;
      min-width: 30px;
      height: 30px;
      margin: 0px 0 0 8px;
      img {
        height: 16px;
      }
    }
  }
  #fee__costs {
    .card {
      &-title {
        h3 {
          font-weight: 700;
          font-size: 11px;
          line-height: 16px;
          button {
            padding: 2px 6px;
            min-height: 16px;
            font-size: 10px;
            min-width: 16px;
          }
        }
      }
    }
    .generate__report {
      img {
        display: inline-block;
        margin-bottom: 0px;
        margin-right: 4px;
        height: 14px;
        vertical-align: middle;
      }
      span {
        display: inline-block;
        font-size: 0.667rem;
      }
    }
    .costs {
      display: flex;
      align-items: center;
      .cost {
        min-width: 0%;
        text-align: left;
        padding: 12px 12px 15px;
        box-sizing: border-box;
        label {
          display: block;
          text-transform: uppercase;
          font-size: 0.7267rem;
          color: $secondary;
          font-weight: 500;
          padding-bottom: 4px;
        }
        span {
          display: block;
          font-weight: 500;
        }
      }
    }
  }
  #appraisers {
    .appraiser_profile {
      display: flex;
      align-items: center;
      padding: 10px 12px;
      .pic {
        width: 36px;
        height: 36px;
        border: solid 2px #a4bbc1;
        border-radius: 100px;
        overflow: hidden;
        display: block;
        margin-right: 8px;
        img {
          width: 100%;
          height: auto;
          min-height: 100%;
        }
      }
      .info {
        line-height: 1;
        .name {
          font-size: 0.8267rem;
          font-weight: 500;
          display: block;
        }
      }
      .title {
        font-size: 0.8267rem;
        font-weight: 500;
        display: block;
        color: $primary;
        margin-right: 15px;
      }
    }
  }
}
