// ::ng-deep .ngx-datatable .datatable-body {
//     max-height: 200px !important;
//     overflow: hidden auto;
// }
@import "../../../../../assets/scss/datatable";

.custom_scroll {
  padding: 5px 15px;
  box-sizing: border-box;
}
::ng-deep {
  .ngx-datatable .datatable-body .datatable-body-row {
    outline: none;
    box-shadow: 0 0 5px rgb(0 0 0 / 20%);
    padding: 5px;
    margin: 8px;
    border-radius: 5px;
  }
}
