
            <div class="form px-5 py-1" [ngClass]="edit ? '':'readonly'">
                <div class="title-heading">
                    <h3>Profile Information</h3>
                    <div class="flex-row-center">
                        <button class="btn btn-sm btn-secondary-outline" (click)="editform()" *ngIf="edit">Cancel</button>
                        <button class="btn btn-sm" (click)="editform()" *ngIf="edit">Update</button>
                        <button class="btn btn-sm" (click)="editform()" *ngIf="!edit">Edit</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <div class="f-group">
                            <label>First Name <span class="required">*</span></label>
                            <div class="f-field" *ngIf="edit">
                                <input type="text" placeholder="First Name" value="Arun Sameer" />
                            </div>
                            <div class="f-field-value text-truncate" *ngIf="!edit">
                                Arun Sameer Arun Sameer Arun Sameer Arun Sameer 
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="f-group">
                            <label>Middle Name <span class="required">*</span></label>
                            <div class="f-field" *ngIf="edit">
                                <input type="text" placeholder="Middle Name" />
                            </div>
                            <div class="f-field-value" *ngIf="!edit">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="f-group">
                            <label>Last Name <span class="required">*</span></label>
                            <div class="f-field" *ngIf="edit">
                                <input type="text" placeholder="Last Name" value="Koduri" />
                            </div>
                            <div class="f-field-value" *ngIf="!edit">
                                Koduri
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="f-group">
                            <label>Last Name <span class="required">*</span></label>
                            <div class="f-field" *ngIf="edit">
                                <input type="text" placeholder="Last Name" value="Koduri" />
                            </div>
                            <div class="f-field-value" *ngIf="!edit">
                                Koduri
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <div class="f-group">
                            <label>Role <span class="required">*</span></label>
                            <div class="f-field" *ngIf="edit">
                                <input type="text" placeholder="ex: manager, Agent, Delivery" />
                            </div>
                            <div class="f-field-value" *ngIf="!edit">
                                Manager
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="f-group">
                            <label>Email <span class="required">*</span></label>
                            <div class="f-field" *ngIf="edit">
                                <input type="text" placeholder="ex. test@test.com" />
                            </div>
                            <div class="f-field-value" *ngIf="!edit">
                                test@test.com
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="f-group">
                            <label>Mobile <span class="required">*</span></label>
                            <div class="f-field" *ngIf="edit">
                                <input type="text" placeholder="Ex. 1234567890" />
                            </div>
                            <div class="f-field-value" *ngIf="!edit">
                                (123) 456 7890
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="f-group">
                            <label>Middle Name <span class="required">*</span></label>
                            <div class="f-field" *ngIf="edit">
                                <input type="text" placeholder="Ex. 1234567890" />
                            </div>
                            <div class="f-field-value" *ngIf="!edit">
                                (123) 456 7890
                            </div>
                        </div>
                    </div>
                </div>
                <div class="title-heading">
                    <h3>Mailing Address</h3>
                    <div class="flex-row-center">
                        <ng-toggle [disabled]="toggle.disabled" [width]="toggle.width" [height]="toggle.height" [margin]="toggle.margin" [labels]="toggle.labels" [color]="toggle.color" [switchColor]="toggle.switchColor" [fontColor]="toggle.fontColor" [fontSize]="toggle.fontSize"></ng-toggle>
                        <small class="label ml-3">Use Company/Assignment Address</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="f-group">
                            <label>Address <span class="required">*</span></label>
                            <div class="f-field" *ngIf="edit">
                                <input type="text" placeholder="Address" />
                            </div>
                            <div class="f-field-value" *ngIf="!edit">
                                3440 Ranch Trails
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="f-group">
                            <label>City <span class="required">*</span></label>
                            <div class="f-field" *ngIf="edit">
                                <input type="text" placeholder="City" />
                            </div>
                            <div class="f-field-value" *ngIf="!edit">
                                Cedar Park
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="f-group">
                            <label>County <span class="required">*</span></label>
                            <div class="f-field" *ngIf="edit">
                                <input type="text" placeholder="County" value="Williamson County" />
                            </div>
                            <div class="f-field-value" *ngIf="!edit">
                                Williamson County
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="f-group">
                            <label>State <span class="required">*</span></label>
                            <div class="f-field" *ngIf="edit">
                                <input type="text" placeholder="state" />
                            </div>
                            <div class="f-field-value" *ngIf="!edit">
                                TX
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="f-group">
                            <label>Zipcode <span class="required">*</span></label>
                            <div class="f-field" *ngIf="edit">
                                <input type="text" placeholder="Zipcode" />
                            </div>
                            <div class="f-field-value" *ngIf="!edit">
                                78613
                            </div>
                        </div>
                    </div>
                </div>
            </div>