<div class="card card-small">
  <div class="card-title">
    <h3>Messages/Notes</h3>
  </div>
  <div class="card-body" id="messages">
    <div class="messages">
      <perfect-scrollbar>
        <div class="message">
          <div class="message-holder">Test Message</div>
          <div class="message-by">
            Aagenes Lindsay (me) <span>10 Jul 2021 10:10</span>
          </div>
        </div>
        <div class="message received">
          <div class="message-holder">Test Message</div>
          <div class="message-by">John Smith <span> 5m</span></div>
        </div>
        <div class="message">
          <div class="message-holder">Test Message</div>
          <div class="message-by">
            Aagenes Lindsay (me) <span>10 Jul 2021 10:10</span>
          </div>
        </div>
        <div class="message received">
          <div class="message-holder">Test Message</div>
          <div class="message-by">John Smith <span> 5m</span></div>
        </div>
      </perfect-scrollbar>
    </div>
    <div class="message-input">
      <textarea></textarea>
      <button class="btn btn-transparent only-icon">
        <img src="../../../../assets/icon_tasks.png" />
      </button>
    </div>
  </div>
</div>
