<div class="card card-small">
  <div class="card-title">
    <h3>Lender</h3>
  </div>
  <div class="card-body" id="lender">
    <div class="label-value">
      <div class="label">NAME</div>
      <div class="value text-right">Maximo</div>
    </div>
    <div class="label-value">
      <div class="label">CLIENT CONTACT</div>
      <div class="value text-right">+1 234 567 8909</div>
    </div>
    <div class="label-value brd-t location">
      <div class="value">
        <span class="icon text-extras">
          <img src="../../../../../assets/icon_location.svg" />
        </span>
        <address>
          <div class="label">LOCATION</div>
          5575 Warren Parkway <br />Frisco Collin County <br />TX 75034
        </address>
      </div>
    </div>
  </div>
</div>
