<header>
    <div class="container">
        <div class="header">
            <div class="header__logo">
                <img src="../../../../../assets/logo.svg" />
            </div>
            <div class="header__search">
                <span class="icon">
                    <img src="../../../../../assets/icon-search.svg" />
                </span>
                <input type="search" placeholder="Search Orders, Vendors, Clients, Invoice…" />
            </div>
            <div class="header__sec">
                <div class="section nbrd date">
                    Today at 2:43 PM
                </div>
                <div class="section calender">
                    <span class="icon">
                        <img src="../../../../../assets/icon_calender.png" />
                    </span>
                    <span class="text">Calender</span>
                </div>
                <div class="section only__icon questions">
                    <span class="icon">
                        <img src="../../../../../assets/icon-question.svg" />
                    </span>
                </div>
                <div class="section only__icon messages">
                    <span class="icon has-badge">
                        <img src="../../../../../assets/icon-messanger.svg" />
                        <span class="badge badge-info">3</span>
                    </span>
                    <div class="list__content">
                        <div class="heading">
                            <div class="title">
                                <span class="status online"></span>
                                <h4>Messages (9)</h4>
                            </div>
                            <div class="more-actions">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                        <div class="lsits">
                            <div class="list-item">
                                <div class="avatar">
                                    <img src="../../assets/AvatarMaker.png">
                                </div>
                                <div class="details">
                                    <div class="text name">
                                        <strong>John Smith</strong>
                                    </div>
                                    <div class="assigned">
                                        Message content here lorem Ipsum is simply…
                                    </div>
                                </div>
                                <div class="time-status">
                                    10 mins
                                    <span class="status-icon unread"></span>
                                </div>
                            </div>
                            <div class="list-item">
                                <div class="avatar">
                                    <img src="../../assets/AvatarMaker.png">
                                </div>
                                <div class="details">
                                    <div class="text name">
                                        <strong>John Smith</strong>
                                    </div>
                                    <div class="assigned">
                                        Message content here lorem Ipsum is simply…
                                    </div>
                                </div>
                                <div class="time-status">
                                    10 mins
                                    <span class="status-icon unread"></span>
                                </div>
                            </div>
                            <div class="list-item">
                                <div class="avatar">
                                    <img src="../../assets/AvatarMaker.png">
                                </div>
                                <div class="details">
                                    <div class="text name">
                                        <strong>John Smith</strong>
                                    </div>
                                    <div class="assigned">
                                        Message content here lorem Ipsum is simply…
                                    </div>
                                </div>
                                <div class="time-status">
                                    Yesterday
                                    <span class="status-icon unread"></span>
                                </div>
                            </div>
                            <div class="list-item">
                                <div class="avatar">
                                    <img src="../../assets/AvatarMaker.png">
                                </div>
                                <div class="details">
                                    <div class="text name">
                                        <strong>John Smith</strong>
                                    </div>
                                    <div class="assigned">
                                        Message content here lorem Ipsum is simply…
                                    </div>
                                </div>
                                <div class="time-status">
                                    6 Days
                                </div>
                            </div>
                            <div class="list-item">
                                <div class="avatar">
                                    <img src="../../assets/AvatarMaker.png">
                                </div>
                                <div class="details">
                                    <div class="text name">
                                        <strong>John Smith</strong>
                                    </div>
                                    <div class="assigned">
                                        Message content here lorem Ipsum is simply…
                                    </div>
                                </div>
                                <div class="time-status">
                                    1 Month Ago
                                </div>
                            </div>
                        </div>
                        <div class="footer">
                            <span class="link">View All</span>
                        </div>
                    </div>
                </div>
                <div class="section only__icon notifications">
                    <span class="icon has-badge">
                        <img src="../../../../../assets/icon-notification.svg" />
                        <span class="badge badge-alert">3</span>
                    </span>
                    <div class="list__content">
                        <div class="heading">
                            <div class="title">
                                <!-- <span class="status"></span> -->
                                <h4>Notifications (9)</h4>
                            </div>
                            <div class="more-actions">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                        <div class="lsits">
                            <div class="list-item">
                                <div class="avatar">
                                    <img src="../../assets/icon_orders.png">
                                </div>
                                <div class="details">
                                    <div class="text">
                                        Order: <strong>SWM-21-3-2593</strong> status updated to
                                    </div>
                                    <div class="assigned">
                                        <span class="link">Unassigned</span> by <strong>Varma Ram</strong>
                                    </div>
                                </div>
                                <div class="time-status">
                                    10 mins
                                    <span class="status-icon unread"></span>
                                </div>
                            </div>
                            <div class="list-item">
                                <div class="avatar">
                                    <img src="../../assets/icon_orders.png">
                                </div>
                                <div class="details">
                                    <div class="text">
                                        Order: <strong>SWM-21-3-2593</strong> status updated to
                                    </div>
                                    <div class="assigned">
                                        <span class="link">Unassigned</span> by <strong>Varma Ram</strong>
                                    </div>
                                </div>
                                <div class="time-status">
                                    10 mins
                                    <span class="status-icon unread"></span>
                                </div>
                            </div>
                            <div class="list-item">
                                <div class="avatar">
                                    <img src="../../assets/icon_orders.png">
                                </div>
                                <div class="details">
                                    <div class="text">
                                        Order: <strong>SWM-21-3-2593</strong> status updated to
                                    </div>
                                    <div class="assigned">
                                        <span class="link">Unassigned</span> by <strong>Varma Ram</strong>
                                    </div>
                                </div>
                                <div class="time-status">
                                    Yesterday
                                    <span class="status-icon unread"></span>
                                </div>
                            </div>
                            <div class="list-item">
                                <div class="avatar">
                                    <img src="../../assets/icon_orders.png">
                                </div>
                                <div class="details">
                                    <div class="text">
                                        Order: <strong>SWM-21-3-2593</strong> status updated to
                                    </div>
                                    <div class="assigned">
                                        <span class="link">Unassigned</span> by <strong>Varma Ram</strong>
                                    </div>
                                </div>
                                <div class="time-status">
                                    10 mins
                                </div>
                            </div>
                            <div class="list-item">
                                <div class="avatar">
                                    <img src="../../assets/icon_orders.png">
                                </div>
                                <div class="details">
                                    <div class="text">
                                        Order: <strong>SWM-21-3-2593</strong> status updated to
                                    </div>
                                    <div class="assigned">
                                        <span class="link">Unassigned</span> by <strong>Varma Ram</strong>
                                    </div>
                                </div>
                                <div class="time-status">
                                    10 mins
                                </div>
                            </div>
                        </div>
                        <div class="footer">
                            <span class="link">View All</span>
                        </div>
                    </div>
                </div>
                <div class="section profile">
                    <div class="profile__details">
                        <span class="name">Veera Arun Sameer John</span>
                        <span class="role">Business Owner</span>
                    </div>
                    <div class="profile__pic">
                        <span class="pic">
                            <img src="../../../../../assets/AvatarMaker.png" />
                        </span>
                    </div>
                    <div class="profile__dots">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="list__content">
                        <!-- <div class="heading">
                            <div class="title">
                                <span class="status online"></span>
                                <h4>Messages (9)</h4>
                            </div>
                            <div class="more-actions">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div> -->
                        <div class="lsits">
                            <div class="list-item">
                                <div class="avatar profile">
                                    <img src="../../assets/AvatarMaker.png">
                                </div>
                                <div class="details">
                                    <div class="text name">
                                        <strong>Veera Arun Sameer</strong>
                                    </div>
                                    <div class="assigned">
                                        Business Owner
                                    </div>
                                </div>
                            </div>
                            <div class="list-item">
                                <div class="details">
                                    <div class="assigned">
                                        <span class="link">johnsmith@domainname.com</span>
                                    </div>
                                </div>
                                <div class="time-status">
                                    <img src="../../assets/icon_verified.svg" />
                                </div>
                            </div>
                            <div class="list-item">
                                <div class="avatar">
                                    <img src="../../assets/icon_flag_appraiser.svg">
                                </div>
                                <div class="details">
                                    <div class="text">
                                        My Profile
                                    </div>
                                </div>
                            </div>
                            <div class="list-item">
                                <div class="avatar">
                                    <img src="../../assets/icon_flag_appraiser.svg">
                                </div>
                                <div class="details">
                                    <div class="text">
                                        Notification Settings
                                    </div>
                                </div>
                            </div>
                            <div class="list-item">
                                <div class="avatar">
                                    <img src="../../assets/icon_flag_appraiser.svg">
                                </div>
                                <div class="details">
                                    <div class="text">
                                        Activity Log
                                    </div>
                                </div>
                            </div>
                            <div class="list-item">
                                <div class="avatar">
                                    <img src="../../assets/icon_flag_appraiser.svg">
                                </div>
                                <div class="details">
                                    <div class="text">
                                        Help & Support
                                    </div>
                                </div>
                            </div>
                            <div class="list-item">
                                <div class="avatar">
                                    <img src="../../assets/icon_flag_appraiser.svg">
                                </div>
                                <div class="details">
                                    <div class="text logout">
                                        Log Out
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="footer">
                            <span class="link">Privacy Policy</span> • <span class="link">Terms</span> • AMC Panel © 2021
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>