<main>
    <div class="promissory_slider" *ngIf="customOptions">
        <owl-carousel-o [options]="customOptions" #owlCar>
            <ng-template carouselSlide id="1">
                <div (click)="owlCar.to('1')">
                    <div class="card text-center">
                        <div class="card-body">
                            <div class="text-center"><img src="../../../../assets/promissory/img_s1.png"></div>
                            <h3>What type of home loan are<br>you looking for?</h3>
                            <div class="cat_btn d-flex justify-content-center flex-wrap">
                                <label (click)="owlCar.to('2')" *ngFor="let loan of promissory.loans">
                                    <input type="radio" name="loan" />
                                    <div class="front-end box d-flex align-items-center justify-content-center">
                                        <p>
                                            <span><img [src]="loan.img"></span>
                                            {{loan.name}}
                                        </p>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide id="2">
                <div (click)="owlCar.to('2')">
                    <div class="card text-center">
                        <div class="card-body">
                            <div class="text-center"><img src="../../../../assets/promissory/img_s1.png"></div>
                            <h3>How will this property<br>be used?</h3>
                            <div class="cat_btn d-flex justify-content-center flex-wrap">
                                <label (click)="owlCar.to('3')" *ngFor="let prop of promissory.properties">
                                    <input type="radio" name="home" />
                                    <div class="front-end box d-flex align-items-center justify-content-center">
                                        <p>
                                            <span><img [src]="prop.img"></span>
                                            {{prop.name}}
                                        </p>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide id="3">
                <div (click)="owlCar.to('3')">
                    <div class="card text-center">
                        <div class="card-body">
                            <div class="text-center"><img src="../../../../assets/promissory/img_s1.png"></div>
                            <h3>What type of home loan are<br>you looking for?</h3>
                            <div class="cat_btn d-flex justify-content-center flex-wrap">
                                <label class="btn-block" (click)="owlCar.to('4')"
                                    *ngFor="let pay of promissory.payments">
                                    <input type="radio" name="pay" />
                                    <div class="front-end box-fill d-flex align-items-center justify-content-center">
                                        <p>
                                            {{pay.name}}
                                        </p>
                                    </div>
                                </label>

                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide id="4">
                <div (click)="owlCar.to('4')">
                    <div class="card text-center">
                        <div class="card-body">
                            <div class="text-center"><img src="../../../../assets/promissory/img_s1.png"></div>
                            <h3>ZIP code of the property</h3>
                            <div class="cat_btn d-flex justify-content-center flex-wrap">
                                <div class="form-group my-4">
                                    <input type="tel" class="form-control" id="exampleInputZip"
                                        aria-describedby="zipResult" placeholder="Enter ZIP Code" mask="00000"
                                        (input)="callGeoAPI(postCode.value)" #postCode>
                                    <small id="zipResult" class="form-text text-center">{{model?.zipAddress}}</small>
                                </div>

                                <div class="col-8 my-4">
                                    <button type="submit" class="btn btn-block btn-primary"
                                        (click)="owlCar.to('5')">Continue</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide id="5">
                <div (click)="owlCar.to('5')">
                    <div class="card text-center">
                        <div class="card-body">
                            <div class="text-center"><img src="../../../../assets/promissory/img_s1.png"></div>
                            <h3>What is the remaining 1st mortgage balance?</h3>
                            <div class="cat_btn d-flex justify-content-center flex-wrap">
                                <div class="form-group my-4 col-12">
                                    <div class="range-slider">
                                        <span class="range-slider__value">{{rangeEvent}}</span>
                                        <input class="range-slider__range" type="range" value="100" min="0" max="500"
                                            (input)="onRangeChange($event)">

                                    </div>
                                </div>

                                <div class="col-8 my-4">
                                    <button type="submit" class="btn btn-block btn-primary"
                                        (click)="owlCar.to('6')">Continue</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide id="6">
                <div (click)="owlCar.to('6')">
                    <div class="card text-center">
                        <div class="card-body">
                            <div class="text-center"><img src="../../../../assets/promissory/img_s1.png"></div>
                            <h3>Do you have a second mortgage?</h3>
                            <div class="cat_btn d-flex justify-content-center flex-wrap">
                                <label (click)="owlCar.to('7')">
                                    <input type="radio" name="secondMortgage" />
                                    <div class="front-end box d-flex align-items-center justify-content-center">
                                        <p>
                                            <span><img src="../../../../assets/promissory/yes.png"
                                                    style="width: 32px !important;"></span>
                                            Yes
                                        </p>
                                    </div>
                                </label>

                                <label (click)="owlCar.to('7')">
                                    <input type="radio" name="secondMortgage" />
                                    <div class="front-end box d-flex align-items-center justify-content-center">
                                        <p>
                                            <span><img src="../../../../assets/promissory/no.png"
                                                    style="width: 32px !important;"></span>
                                            No
                                        </p>
                                    </div>
                                </label>

                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide id="7">
                <div (click)="owlCar.to('7')">
                    <div class="card text-center">
                        <div class="card-body">
                            <div class="text-center"><img src="../../../../assets/promissory/img_s1.png"></div>
                            <h3>Estimate your credit score</h3>
                            <div class="cat_btn d-flex justify-content-center flex-wrap">
                                <label (click)="owlCar.to('8')">
                                    <input type="radio" name="creditScore" />
                                    <div class="front-end box d-flex align-items-center justify-content-center">
                                        <p>
                                            <span><img src="../../../../assets/promissory/icon_cs_4.png"
                                                    style="width: 32px !important;"></span>
                                            Excellent<br><span>(>= 720)</span>
                                        </p>
                                    </div>
                                </label>

                                <label (click)="owlCar.to('8')">
                                    <input type="radio" name="creditScore" />
                                    <div class="front-end box d-flex align-items-center justify-content-center">
                                        <p>
                                            <span><img src="../../../../assets/promissory/icon_cs_3.png"
                                                    style="width: 32px !important;"></span>
                                            Good<br><span>(680 - 719)</span>
                                        </p>
                                    </div>
                                </label>

                                <label (click)="owlCar.to('8')">
                                    <input type="radio" name="creditScore" />
                                    <div class="front-end box d-flex align-items-center justify-content-center">
                                        <p>
                                            <span><img src="../../../../assets/promissory/icon_cs_2.png"
                                                    style="width: 32px !important;"></span>
                                            Fair<br><span>(640-679)</span>
                                        </p>
                                    </div>
                                </label>


                                <label (click)="owlCar.to('8')">
                                    <input type="radio" name="creditScore" />
                                    <div class="front-end box d-flex align-items-center justify-content-center">
                                        <p>
                                            <span><img src="../../../../assets/promissory/icon_cs_1.png"
                                                    style="width: 32px !important;"></span>
                                            Poor<br><span>(&#60;=639)</span>
                                        </p>
                                    </div>
                                </label>

                                <div class="col-12 mt-5">
                                    <span class="btn-block mb-2">Don’t know your credit score?</span>
                                    <a href="javascript:;">Get it free.</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide id="8">
                <div (click)="owlCar.to('8')">
                    <div class="card text-center">
                        <div class="card-body">
                            <div class="text-center"><img src="../../../../assets/promissory/img_s1.png"></div>
                            <h3>When were you born?</h3>
                            <div class="cat_btn d-flex justify-content-center flex-wrap">
                                <div class="form-row dpicker">
                                    <div class="form-group col-md-4">
                                        <select id="inputState" class="form-control">
                                            <option selected>Month</option>
                                            <option value="1">Jan</option>
                                            <option value="2">Feb</option>
                                            <option value="3">Mar</option>
                                            <option value="4">Apr</option>
                                            <option value="5">May</option>
                                            <option value="6">Jun</option>
                                            <option value="7">Jul</option>
                                            <option value="8">Aug</option>
                                            <option value="9">Sep</option>
                                            <option value="10">Oct</option>
                                            <option value="11">Nov</option>
                                            <option value="12">Dec</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <input type="text" class="form-control" mask="00" placeholder="Day">
                                    </div>
                                    <div class="form-group col-md-3">
                                        <input type="text" class="form-control" mask="0000" placeholder="Year">
                                    </div>
                                    <small id="zipResult"
                                        class="form-text text-center btn-block">{{model?.zipAddress}}</small>
                                </div>

                                <div class="col-8 my-4">
                                    <button type="submit" class="btn btn-block btn-primary"
                                        (click)="owlCar.to('9')">Continue</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide id="9">
                <div>
                    <div class="card text-center">
                        <div class="card-body">
                            <div class="text-center"><img src="../../../../assets/promissory/img_s1.png"></div>
                            <h3>What is your current street address?</h3>
                            <div class="cat_btn d-flex justify-content-center flex-wrap">
                                <form class="col-10 mt-4">
                                    <div class="form-group">
                                        <app-auto-complete (setAddress)="getAddress($event)" adressType="geocode">
                                        </app-auto-complete>
                                    </div>

                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Street Address"
                                            [(ngModel)]="model.street" name="street">
                                        <!-- <small id="zipResult" class="form-text text-center btn-block text-danger">Error
                                            Message</small> -->
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="ZIP Code"
                                            [(ngModel)]="model.zipcode" name="zipcode">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="City"
                                            [(ngModel)]="model.city" name="city">
                                    </div>
                                    <div class="col-12 my-4">
                                        <button type="submit" class="btn btn-block btn-primary">Continue</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
</main>