<div class="label-value">
  <div class="label">
    <strong><small>BORROWER</small></strong>
  </div>
  <div class="value">
    <span class="icon">
      <img src="../../../../../assets/icon_edit.svg" />
    </span>
  </div>
</div>
<div class="label-value">
  <div class="label">Name</div>
  <div class="value">
    <strong>Glenn</strong>
  </div>
</div>
<div class="label-value">
  <div class="label">Phone</div>
  <div class="value">
    <strong>+91 86887626876</strong>
  </div>
</div>
<div class="label-value">
  <div class="label">Email</div>
  <div class="value">
    <a href="mailto:"><strong>glenn.max@yopmail.com</strong></a>
  </div>
</div>
<hr />

<div class="label-value">
  <div class="label">Name</div>
  <div class="value">
    <strong>Glenn</strong>
  </div>
</div>
<div class="label-value">
  <div class="label">Phone</div>
  <div class="value">
    <strong>+91 86887626876</strong>
  </div>
</div>
<div class="label-value">
  <div class="label">Email</div>
  <div class="value">
    <a href="mailto:"><strong>glenn.max@yopmail.com</strong></a>
  </div>
</div>
<div class="label-value">
  <div class="label">Name</div>
  <div class="value">
    <strong>Glenn</strong>
  </div>
</div>
<div class="label-value">
  <div class="label">Phone</div>
  <div class="value">
    <strong>+91 86887626876</strong>
  </div>
</div>
<div class="label-value">
  <div class="label">Email</div>
  <div class="value">
    <a href="mailto:"><strong>glenn.max@yopmail.com</strong></a>
  </div>
</div>

<hr />

<div class="label-value">
  <div class="label">Name</div>
  <div class="value">
    <strong>Glenn</strong>
  </div>
</div>
<div class="label-value">
  <div class="label">Phone</div>
  <div class="value">
    <strong>+91 86887626876</strong>
  </div>
</div>
<div class="label-value">
  <div class="label">Email</div>
  <div class="value">
    <a href="mailto:"><strong>glenn.max@yopmail.com</strong></a>
  </div>
</div>
<div class="label-value">
  <div class="label">Name</div>
  <div class="value">
    <strong>Glenn</strong>
  </div>
</div>
<div class="label-value">
  <div class="label">Phone</div>
  <div class="value">
    <strong>+91 86887626876</strong>
  </div>
</div>
<div class="label-value">
  <div class="label">Email</div>
  <div class="value">
    <a href="mailto:"><strong>glenn.max@yopmail.com</strong></a>
  </div>
</div>
