<div class="user_item">
    <div class="user_item_avatar">
        <span class="pic"><img src="../../../../assets/profile_pic.jpg" /></span>
        <span class="status online"></span>
    </div>
    <div class="user_item_details">
        <div class="user_item_sec">
            <span class="name">Craig Price -list</span>
            <span class="chip account-manager">Account Manager</span>
        </div>
        <div class="user_item_sec">
            <a class="email" href="mailto:CraigPrice@domainname.com">CraigPrice@domainname.com</a>
            <span class="address">TX, 77771</span>
        </div>
        <div class="user_item_sec orders">
            <div class="title">Orders</div>
            <div class="counts">
                <span class="label">Open : </span>
                <span class="count open">20</span>
            </div>
            <div class="counts">
                <span class="label">Closed : </span>
                <span class="count closed">10</span>
            </div>
        </div>
    </div>
</div>