<div class="amc__app">
    <div class="amc__content">
        <header>
            <div class="container">
                <div class="header">
                    <div class="header__logo">
                        <img src="../../assets/logo.svg" />
                    </div>
                </div>
            </div>
        </header>
        <div class="main__container container">
            <div class="welcome_text">
                <div class="text">Get the Best Solution to</div>
                <div class="text__large">Appraise your Property</div>
                <div class="tagline">
                    <span>Create.</span>
                    <span>Manage.</span>
                    <span>Execute.</span>
                </div>
            </div>
            <div class="auth__container">
                <router-outlet></router-outlet>
            </div>
        </div>
        <footer>
            <div class="container">
                <div class="footer">
                    <div class="footer__content">
                        AMC Panel 2020
                        <span class="divider">•</span>
                        <a href="javascript:void(0)">Terms of Use</a>
                        <span class="divider">•</span>
                        <a href="javascript:void(0)">Privacy Policy</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
