@import '../../../../../../assets/scss/grid';

.amc-legends {
    .amc-legend {
        display: flex;
        margin: 8px 3px 4px;
        align-items: center;
        .count {
            width: 26px;
            height: 16px;
            font-size: 12px;
            font-weight: 700;
            line-height: 15px;
            text-align: center;
            border-radius: 3px;
            margin-right: 4px;
            color: #fff;
        }
        .text {
            font-weight: 400;
            font-size: 14px;
        }
    }
}