<div class="action_order_container">
    <div class="actions">
        <button class="btn btn-gradient has-icon left" [routerLink]="'/orders/create-order'">
            <span class="icon center">
                <img src="../../../../assets/icon_add.svg">
            </span> Create Orders
        </button>
    </div>
</div>
<div class="orders_count_list">
    <div class="m-t-25"></div>
    <div id="orders__client" class="ordstatus-items">
        <div class="ordstatus-item active">
            <div class="flex-row-center flex-justify-between">
                <div class="details default">All </div>
                <div class="status "><strong class="text txt-secondary">106</strong></div>
            </div>
        </div>
        <div class="ordstatus-item ">
            <div class="flex-row-center flex-justify-between">
                <div class="details default">New </div>
                <div class="status "><strong class="text txt-primary">16</strong></div>
            </div>
        </div>
        <div class="ordstatus-item ">
            <div class="flex-row-center flex-justify-between">
                <div class="details default">Accepted </div>
                <div class="status "><strong class="text txt-extras">26</strong></div>
            </div>
        </div>
        <div class="ordstatus-item ">
            <div class="flex-row-center flex-justify-between">
                <div class="details default">Accepted w/cond </div>
                <div class="status "><strong class="text txt-danger">18</strong></div>
            </div>
        </div>
        <div class="ordstatus-item ">
            <div class="flex-row-center flex-justify-between">
                <div class="details default">Inspection Scheduled </div>
                <div class="status "><strong class="text txt-danger">0</strong></div>
            </div>
        </div>
        <div class="ordstatus-item ">
            <div class="flex-row-center flex-justify-between">
                <div class="details default">Inspection Completed </div>
                <div class="status "><strong class="text txt-primary">16</strong></div>
            </div>
        </div>
        <div class="ordstatus-item ">
            <div class="flex-row-center flex-justify-between">
                <div class="details default">In-Review </div>
                <div class="status "><strong class="text txt-warning">16</strong></div>
            </div>
        </div>
        <div class="ordstatus-item ">
            <div class="flex-row-center flex-justify-between">
                <div class="details default">Waiting Delivery </div>
                <div class="status "><strong class="text txt-danger">28</strong></div>
            </div>
        </div>
        <div class="ordstatus-item ">
            <div class="flex-row-center flex-justify-between">
                <div class="details default">Submitted </div>
                <div class="status "><strong class="text txt-succes">02</strong></div>
            </div>
        </div>
        <div class="ordstatus-item ">
            <div class="flex-row-center flex-justify-between">
                <div class="details default">Completed </div>
                <div class="status "><strong class="text txt-business-owner">16</strong></div>
            </div>
        </div>
        <div class="ordstatus-item ">
            <div class="flex-row-center flex-justify-between">
                <div class="details default">Cancelled </div>
                <div class="status "><strong class="text txt-warning">01</strong></div>
            </div>
        </div>
    </div>
</div>