<nav class="nav_container">
    <div class="container">
        <div class="nav">
            <div class="nav_item" routerLink="/dashboard" routerLinkActive="active">
                <span class="nav_item_icon">
                    <img src="../../assets/icon-dashboard.png" />
                </span>
                <span class="nav_item_text">
                    Dashboard
                    <i>Summary & Activities</i>
                </span>
            </div>
            <div class="nav_item" routerLink="/vendors" routerLinkActive="active">
                <span class="nav_item_icon">
                    <img src="../../assets/icon-vendor.png" />
                </span>
                <span class="nav_item_text">
                    Vendors
                    <i>Summary & Activities</i>
                </span>
            </div>
            <div class="nav_item">
                <span class="nav_item_icon">
                    <img src="../../assets/icon-orders.png" />
                </span>
                <span class="nav_item_text">
                    Orders
                    <i>Order Information</i>
                </span>
            </div>
            <div class="nav_item">
                <span class="nav_item_icon">
                    <img src="../../assets/icon-clients.png" />
                </span>
                <span class="nav_item_text">
                    Clients
                    <i>Order Information</i>
                </span>
            </div>
            <div class="nav_item" routerLink="/users" routerLinkActive="active">
                <span class="nav_item_icon">
                    <img src="../../assets/icon-users.png" />
                </span>
                <span class="nav_item_text">
                    Users
                    <i>Order Information</i>
                </span>
            </div>
            <div class="nav_item">
                <span class="nav_item_icon">
                    <img src="../../assets/icon-accounts.png" />
                </span>
                <span class="nav_item_text">
                    Accounts
                    <i>Order Information</i>
                </span>
            </div>
        </div>
    </div>
</nav>