<form class="modal modal-container" [formGroup]="feeForm">
    <div class="modal-title">
        <h4 class="heading">Add Fee Structure</h4>
    </div>
    <div class="modal-body" malihu-scrollbar>
        <div class="px-8 py-8">
            <div class="row">
                <div class="col-6">
                    <div class="f-group">
                        <label class="required">Fee Structure name</label>
                        <div class="f-field">
                            <ng-select [items]="staticService.jobTypes" bindLabel="name" bindValue="value"
                             placeholder="Select"  formControlName="jobtype">
                        </ng-select>
                            <div *ngIf="submitted && f.jobtype.errors" class="error">
                                <div *ngIf="f.jobtype.errors.required">Fee Structure is required</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4 offset-2">
                    <div class="f-group">
                        <label>IS ACTIVE</label>
                        <div class="f-field nob">
                            <ng-toggle [disabled]="toggle.disabled" [width]="toggle.width"
                                [height]="toggle.height" [margin]="toggle.margin"
                                [labels]="toggle.labels" [color]="toggle.color"
                                [switchColor]="toggle.switchColor" [fontColor]="toggle.fontColor"
                                [value]="f.isActive.value"
                                [fontSize]="toggle.fontSize" formControlName="isActive">
                            </ng-toggle>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table__form f-group">
                <table>
                    <thead>
                        <tr class="row no-space">
                            <th class="col-6"><label>Fee Structure name</label></th>
                            <th class="col-3 text-right"><label>AppRaiser Fee ($)</label></th>
                            <th class="col-3 text-right"><label>Company Fee ($)</label></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="row no-space" *ngFor="let jobtype of staticService.jobTypes">
                            <th class="col-6">
                                <div class="f-field-value">
                                    {{jobtype.name}}
                                </div>
                            </th>
                            <th class="col-3">
                                <div class="f-field">
                                    <input type="text" class="right" placeholder="$0" formControlName="appraiserFee" />
                                </div>
                            </th>
                            <th class="col-3">
                                <div class="f-field">
                                    <input type="text" class="right" placeholder="$0" formControlName="companyFee" />
                                </div>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer flex-justify-right">
            <button class="btn btn-secondary-outline" (click)="sharedService.closeSlider()">Reset</button>
            <button class="btn ml-2">Add</button>
    </div>
</form>