<div class="card card-small">
  <div class="card-title">
    <h3>ACTIVITY FEED</h3>
    <div class="actions">
      <button class="btn btn-transparent only-icon">
        <img src="../../../../assets/icon_tasks.png" />
      </button>
    </div>
  </div>
  <div class="card-body" id="activities">
    <perfect-scrollbar>
      <div class="activities p-4">
        <div class="activity">
          <h3>Order Received</h3>
          <div class="content">
            <p>
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
              nonumy
            </p>
          </div>
          <div class="info">
            <div class="activity-by">Lindsay Aagenes</div>
            <div class="activity-date">Mar 18 2021 10:10 AM</div>
          </div>
        </div>
        <div class="activity">
          <h3>Order Received</h3>
          <div class="content">
            <p>
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
              nonumy
            </p>
          </div>
          <div class="info">
            <div class="activity-by">Lindsay Aagenes</div>
            <div class="activity-date">Mar 18 2021 10:10 AM</div>
          </div>
        </div>
        <div class="activity">
          <h3>Order Received</h3>
          <div class="content">
            <p>
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
              nonumy
            </p>
          </div>
          <div class="info">
            <div class="activity-by">Lindsay Aagenes</div>
            <div class="activity-date">Mar 18 2021 10:10 AM</div>
          </div>
        </div>
        <div class="activity">
          <h3>Order Received</h3>
          <div class="content">
            <p>
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
              nonumy
            </p>
          </div>
          <div class="info">
            <div class="activity-by">Lindsay Aagenes</div>
            <div class="activity-date">Mar 18 2021 10:10 AM</div>
          </div>
        </div>
        <div class="activity">
          <h3>Order Received</h3>
          <div class="content">
            <p>
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
              nonumy
            </p>
          </div>
          <div class="info">
            <div class="activity-by">Lindsay Aagenes</div>
            <div class="activity-date">Mar 18 2021 10:10 AM</div>
          </div>
        </div>
        <div class="activity">
          <h3>Order Received</h3>
          <div class="content">
            <p>
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
              nonumy
            </p>
          </div>
          <div class="info">
            <div class="activity-by">Lindsay Aagenes</div>
            <div class="activity-date">Mar 18 2021 10:10 AM</div>
          </div>
        </div>
      </div>
    </perfect-scrollbar>
  </div>
</div>
