@import "../../../../assets/scss/grid";
@import "../../../../assets/scss/chips";
@import "../../../../assets/scss/form";

@import "../../../../assets/scss/mixins";
@import "../../../../assets/scss/colors";
@import "../../../../assets/scss/modal";
@import "../../../../assets/scss/tables";
@import "../../../../assets/scss/utilities";

.wizard-list {
  background: $tabs;
  ul {
    list-style: none;
    margin: 5px 0;
    padding: 0;
    li {
      padding: 18px 20px;
      margin: 1px 0;
      color: $secondary;
      font-size: 0.8767rem;
      font-weight: 400;
      cursor: pointer;
      display: flex;
      align-items: center;
      .icon {
        margin-right: 8px;
        img {
          height: 16px;
        }
      }
      &.active,
      &:hover {
        background-color: $white;
        color: $extras;
      }
    }
  }
}
.form__container {
  flex: auto;
  min-height: 0;
  height: 100%;
}
// .wizard-list
// .wizard-list ul

// li{

//     background: url(../../../../assets/icon_location.svg) no-repeat center left;
//     background-size: auto 13px;
//     padding-left: 15px;
//  }

// .wizard-list ul

// .wizard-list ul li svg {
//   color: #4594e0;
//   margin-right: 5px;
// }

// .wizard-list ul li:hover {
//   background-color: #fff;
//   color: #4594e0;
// }

.wizard-content {
  box-shadow: 0px 5px 6px rgba(#000000, 0.2);
  background-color: #fff;
  position: relative;
}

agm-map {
  height: 300px;
}
