<div class="user_item">
    <div class="user_item_avatar">
        <img src="../../../../assets/AvatarMaker.png" />
    </div>
    <div class="user_item_details">
        <div class="user_item_sec">
            <span class="name">Craig Price</span>
            <span class="chip account-manager">Account Manager</span>
        </div>
        <div class="user_item_sec">
            <a class="email" href="mailto:CraigPrice@domainname.com">CraigPrice@domainname.com</a>
            <span class="chip address">Account Manager</span>
        </div>
        <div class="user_item_sec orders">
            <div class="label">CraigPrice@domainname.com</div>
            <div class="count">
                <span class="label :">Open</span>
                <span class="count :">20</span>
            </div>
            <div class="count">
                <span class="label :">Closed</span>
                <span class="count :">10</span>
            </div>
        </div>
    </div>
</div>