<div class="custom_scroll" malihu-scrollbar>
    <div class="form px-5 py-1">
        <div class="title-heading mb-2">
            <h3>General Instructions</h3>
            <div class="flex-row-center">
                <button class="btn btn-sm" (click)="openSideNav()">Edit</button>
            </div>
        </div>
        <div class="row mb-3 text-content">
          <div class="col-12">
            <div class="chip mx-1 my-2 default">
                BEN ABRAMS
            </div>
            <div class="chip mx-1 my-2 default">
                Bruce,Abbasi
            </div>
            <div class="chip mx-1 my-2 default">
                3-D Appraisal Inc.
            </div>
            <div class="chip mx-1 my-2 default">
                Anna,Grace
            </div>
            <div class="chip mx-1 my-2 default">
                Aglira Appraisers Pvt Ltd.
            </div>
            <div class="chip mx-1 my-2 default">
                3-D Appraisal Inc.
            </div>
            <div class="chip mx-1 my-2 default">
                Anna,Grace
            </div>
            <div class="chip mx-1 my-2 default">
                Aglira Appraisers Pvt Ltd.
            </div>
            <div class="chip mx-1 my-2 default">
                BEN ABRAMS
            </div>
          </div>
        </div>
        <div class="title-heading mb-2">
            <h3>Preferred Appraisers</h3>
        </div>
        <div class="row mb-3 text-content">
          <div class="col-12">
            <div class="chip mx-1 my-2 default">
                William Abdel
            </div>
          </div>
        </div>
        <div class="title-heading mb-2">
            <h3>Exclusion List</h3>
        </div>
        <div class="row mb-3 text-content">
          <div class="col-12">
            <div class="chip mx-1 my-2 default">
                BEN ABRAMS
            </div>
          </div>
        </div>
    </div>
</div>
<!-- <p>appraisers works!</p>
<button class="btn btn-sm" type="button" (click)="openSideNav()">Edit</button> -->