@import "../../../../../assets/scss/colors";
#lender {
  padding: 10px 0;
}
.label-value {
  padding: 6px 12px;
  &.location {
    padding-bottom: 10px;
    margin-top: 6px;
  }
  .label {
    font-size: 0.8267rem;
  }
  .value {
    display: flex;
    font-weight: 500;
    .label {
      padding-bottom: 4px;
    }
    address {
      font-weight: normal;
      color: $primary;
      font-size: 0.867rem;
      font-style: normal;
      font-weight: 500;
    }
    .icon {
      padding: 6px 16px 0 4px;
      img {
        height: 30px;
      }
    }
  }
}
